@using DataAccessLibrary.DTO;
<div CLASS="cardx">

<span>@Item.LanguageId</span>
<span>@Item.DisplayValue</span>
<span>@Item.SendKeysValue</span>
<span>@Item.CommandType</span>
<span>@Item.CategoryId</span>
<span>@Item.Remarks</span>
<span>@Item.Search</span>
<span>@Item.ComputerId</span>
<span>@Item.DeliveryType</span>
</div>
@code {
    [Parameter] public  required  CustomIntelliSenseDTO Item { get; set; }
}