@page "/grammarname/{Id:int?}"
<div style="min-width:80vw">
        
    <EditForm Model="@GrammarNameDTO" OnValidSubmit="HandleValidSubmit">
        <DataAnnotationsValidator />
        @*<ValidationSummary />*@
        @if (GrammarNameDTO.Id > 0)
        {
            <span class="text-info m-1">@GrammarNameDTO.Id</span>
        }
        <div class="row">
            <div class="col-12">
                <div class="form-group">
                    <label for="NameOfGrammar">Name of Grammar:</label> <i class="text-danger fa">*</i>

                    <InputText id="NameOfGrammar" class="form-control" @bind-Value="@GrammarNameDTO.NameOfGrammar"
                              @onblur="@(() => CallChangeAsync("NameOfGrammar"))"   placeholder="Enter Name of Grammar"></InputText>
                    <ValidationMessage For="@(() => GrammarNameDTO.NameOfGrammar)" />
                </div>
            </div>
            <div class="col-12">
                 @* Move here for the next display column if required *@
            </div>
        </div>
        <hr>
        <div class="btn-group" style="float:right">
            <a accesskey="c" class="btn btn-lg btn-outline-primary" @onclick="@Close"><u>C</u>ancel</a>
            <button @TaskRunning accesskey="s" type="submit" class="btn btn-lg btn-primary"><u>S</u>ave Record</button>
        </div>
    </EditForm>
</div>
