@page "/languageold/{languageId:int}";


@inject LanguageService LanguageService
@inject NavigationManager NavigationManager

<h1>Language</h1>
@if (LanguageModel == null)
{
    <text>Loading.</text>
}
else
{
    <div class="row">
        <div class="col-md-6">
            <EditForm Model="@LanguageModel" OnValidSubmit="HandleValidSubmit">
                <DataAnnotationsValidator />
                @*<ValidationSummary />*@
                <div class="form-field row">
                    <label class="col-md-4">Id</label>
                    @if (LanguageModel.Id > 0)
                    {
                        <div class="col-md-8">@LanguageModel.Id</div>
                    }
                    <input type="hidden" name="Id" id="Id" value="@LanguageModel.Id" />
                </div>
                <div class="form-field row">
                    <label for="@LanguageModel.LanguageName" class="col-md-4"> Language Name (0)</label>
                    <InputText class="col-md-8 form-control-lg" placeholder="Enter Language Name, must be unique" accesskey="0" id="LanguageName" @bind-Value="LanguageModel.LanguageName"></InputText>
                    <ValidationMessage For="@(() => LanguageModel.LanguageName)" />
                </div>
                <div class="form-field row">
                    <label for="@LanguageModel.Colour" class="col-md-4"> Colour (0)</label>
                    <InputText class="col-md-8 form-control-lg" placeholder="Enter Colour, must be unique" accesskey="0" id="Colour" @bind-Value="LanguageModel.Colour"></InputText>
                    <ValidationMessage For="@(() => LanguageModel.Colour)" />
                </div>
                <div class="form-field row">
                    <label for="@LanguageModel.Active" class="col-md-4"> Active (1)</label>
                    <InputCheckbox accesskey="1" class="form-control-lg col-md-8" @bind-Value="LanguageModel.Active">
                    </InputCheckbox>
                    <ValidationMessage For="@(() => LanguageModel.Active)" />
                </div>
                <button accesskey="2" class="btn btn-lg btn-success" type="submit">Submit (2) <i class="oi oi-hard-drive"></i></button>
            </EditForm>
        </div>
    </div>
    <hr>
}

