@page "/launcherstable/{CategoryID:int}"
<div class="row">
    <div class="col-md-5">
        <span style="font-weight:600;font-size:x-large">@Title</span>
        <button class="btn btn-sm btn-outline-warning" @onclick="@(() => SortLauncher("Name"))">
            <i class="fas fa-sort-alpha-up"></i>
        </button>
        <button class="btn btn-sm btn-outline-warning" @onclick="@(() => SortLauncher("Name Desc"))">
            <i class="fas fa-sort-alpha-up-alt"></i>
        </button>

    </div>
    <div class="col-md-3">
        @*        <a class="btn btn-primary m-2" href="/categoriestable/">Category Cards <i class="fas fa-arrow-left"></i></a>
        <a class="btn btn-info m-2" href="/category/@CategoryId">Category <i class="fas fa-arrow-left"></i></a>
        *@
        <InputSelect ValueExpression="@(()=>CategoryId)"
                     Value="@CategoryId"
                     ValueChanged="@(( int  value) => OnCategorySelectedAsync(value))" class="form-control">
            <option value="">-</option>
            @foreach (var item in _categories)
            {
                <option style="font-size:xx-large" value="@item.Id">@item.CategoryName</option>
            }
        </InputSelect>

    </div>
    <div class="col-md-2">
        <button class="btn btn-outline-danger" type="button" @onclick="@( ( ) => LoadData(  ) )">
            <i class="fa-solid fa-arrows-rotate"></i>
        </button>
        <button accesskey="+" @onclick="AddNewLauncherAsync" class="btn btn-outline-success">
            Add
            <i class="fas fa-plus"></i>
        </button>


    </div>
    <div class="col-md-2">
        <input @ref="SearchInput" accesskey="i" class="form-control my-1" style="float:right" @bind="@SearchTerm"
        @bind:event="oninput" id="SearchInput" name="SearchTerm" placeholder="Filter by Name/Command Line (Alt+I)" />
    </div>
</div>
@if (Message.Length > 0)
{
    <div class="alert alert-warning alert-dismissible fade show" role="alert">
        <strong>Please Note!</strong> @Message
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>
}

@if (FilteredLauncherDTO == null && _loadFailed == true)
{
    <h2 class="text-danger">The data failed to load please try again in a little while..</h2>
    <button class="btn btn-danger" type="button" @onclick="@( () => LoadData() )">Reload</button>
    <h6 class="text-danger">@ExceptionMessage</h6>
}
else if (FilteredLauncherDTO == null)
{
    <div style="display:normal;margin:auto" class="loader"></div>
}
else if (FilteredLauncherDTO.Count == 0)
{
    <p>No Launcher match the criteria</p>
    <button @onclick="AddNewLauncherAsync" class="btn btn-lg btn-success">Add Record <i class="fas fa-plus"></i></button>
}
else
{

    <div class="layout-as-cards">
      @{
         counter = -1;
      }
      @foreach (var launcher in FilteredLauncherDTO)
        {
         @if (counter < 9)
         {
            counter++;
         }
         else
         {
            counter = null;
         }
            <div class="card">
                <div class="card-header" title="@launcher.CommandLine">
                    @if (launcher.CommandLine.ToLower().StartsWith("http"))
                    {
                        @if (launcher.Icon != null && launcher.Icon.Length > 0)
                        {
                            <a accesskey="@counter" style="font-size:xx-large" class="btn btn-outline-success" target="_blank" href="@launcher.CommandLine"><img height="50" src='/images/@launcher.Icon' /> <u>@counter</u> @launcher.Name</a>
                        }
                        else
                        {
                            <a accesskey="@counter" style="font-size:xx-large" class="btn btn-outline-success" target="_blank" href="@launcher.CommandLine"><i class="fa-solid fa-rocket"></i> <u>@counter</u> @launcher.Name</a>
                        }
                    }
                    else
                    {
                        @if (launcher.Icon != null && launcher.Icon.Length > 0)
                        {
                            <button accesskey="@counter" style="font-size:xx-large" class="btn btn-outline-success" type="button" @onclick="@( ( ) => MAUILaunching(launcher.Id  ) )"><img class="m-1" height="50" src='/images/@launcher.Icon' /> <u>@counter</u> @launcher.Name</button>
                        }
                        else
                        {
                            <button accesskey="@counter" style="font-size:xx-large" class="btn btn-outline-success" type="button" @onclick="@( ( ) => MAUILaunching(launcher.Id  ) )">🚀 <u>@counter</u> @launcher.Name</button>

                        }
                    }

                    <button class="btn-narrow btn btn-lg btn-outline-warning m-1" @onclick="@(() => EditLauncherAsync(launcher.Id))">
                        <i class="fas fa-edit"></i>
                    </button>
                    <button class="btn btn-lg btn-outline-danger" @onclick="@(() => DeleteLauncherAsync(launcher.Id))">
                        <i class="fas fa-trash"></i>
                    </button>


                </div>
            </div>
        }
    </div>


}
