
@page "/microphones"
<div class="row">
<div class="col-md-12">
    </div>
    <div class="col-md-8">
        <h1 class="m-1">@Title</h1>
    </div>
    <div class="col-md-4">
        <input @ref="SearchInput" accesskey="i" class="form-control my-1" style="float:right" @bind="@SearchTerm" 
        @bind:event="oninput" id="SearchInput" name="SearchTerm" placeholder="Filter by Microphone Name (Alt+I)" />
    </div> 
</div>

@if (FilteredMicrophoneDTO == null && _loadFailed == true)
{
    <h2 class="text-danger">The data failed to load please try again in a little while..</h2>
    <button class="btn btn-danger" type="button" @onclick="@( () => LoadData() )">Reload</button>
    <h6 class="text-danger">@ExceptionMessage</h6>
}
else if (FilteredMicrophoneDTO == null)
{
    <div style="display:normal;margin:auto" class="loader"></div>
}
else if (FilteredMicrophoneDTO.Count == 0)
{
    <p>No Microphone match the criteria</p>
    <button @onclick="AddNewMicrophone" class="btn btn-outline-success">Add Record <i class="fas fa-plus"></i></button>
}
else
{
    <table style="font-size:xx-large" class="table table-bordered table-striped table-sm table-responsive-sm">
        <thead>
            <tr>
              <th>Id</th>
              <th>
                    <button class="btn btn-lg" @onclick="@(() => SortMicrophone("MicrophoneName"))">
                        <i class="fas fa-sort-alpha-up"></i>
                    </button>
                    <button class="btn btn-lg" @onclick="@(() => SortMicrophone("MicrophoneName Desc"))">
                        <i class="fas fa-sort-alpha-up-alt"></i>
                    </button>
                    Microphone Name
                </th>
              <th>Default</th>
                <th>
                    <button accesskey="+" @onclick="AddNewMicrophone" class="btn btn-outline-success btn-lg">
                        <i class="fas fa-plus"></i>
                    </button>
                </th>
            </tr>
        </thead>
        <tbody>
            @foreach (var microphone in FilteredMicrophoneDTO)
            {
                <tr>
                    <td>
                        <button class="btn btn-lg btn-link" @onclick="@(() => EditMicrophone(microphone.Id))">
                            @microphone.Id
                        </button>
                    </td>
                    <td>@microphone.MicrophoneName</td>
                    <td>@microphone.Default</td>
                    <td class="btn-group-vertical">
                        <button class="btn btn-lg btn-outline-warning" @onclick="@(() => EditMicrophone(microphone.Id))">
                            <i class="fas fa-edit"></i>
                        </button>
                        <button class="btn btn-lg btn-outline-danger" @onclick="@(() => DeleteMicrophone(microphone.Id))">
                            <i class="fas fa-trash"></i>
                        </button>
                    </td>
                </tr>
            }
        </tbody>
    </table>
}
