@page "/phraselistgrammar/{Id:int?}"
<div style="min-width:80vw">
    <EditForm Model="@PhraseListGrammarDTO" OnValidSubmit="HandleValidSubmit">
        <DataAnnotationsValidator />
        @*<ValidationSummary />*@
        @if (PhraseListGrammarDTO.Id > 0)
        {
            <span class="text-info m-1">@PhraseListGrammarDTO.Id</span>
        }
        <div class="row">
            <div class="col-12">
                <div class="form-group">
                    <label for="PhraseListGrammarValue">Phrase List Grammar Value: </label> <i class="text-danger fa">*</i>
                    <InputTextArea rows="2" id="PhraseListGrammarValue" class="form-control" @bind-Value="@PhraseListGrammarDTO.PhraseListGrammarValue"
                               placeholder="Enter Phrase List Grammar Value"></InputTextArea>
                    <ValidationMessage For="@(() => PhraseListGrammarDTO.PhraseListGrammarValue)" />
                </div>
            </div>
            <div class="col-12">
                 @* Move here for the next display column if required *@
            </div>
        </div>
        <hr>
        <div class="btn-group" style="float:right">
            <a accesskey="c" class="btn btn-lg btn-outline-primary" @onclick="@Close"><u>C</u>ancel</a>
            <button @TaskRunning accesskey="s" type="submit" class="btn btn-lg btn-primary"><u>S</u>ave Record</button>
        </div>
    </EditForm>
</div>
