@page "/launcherstable/{CategoryID:int}"
<div class="row">
	<div class="col-md-3">
		<h6 class="page-title m-1">@Title</h6>
	</div>
	<div class="col-md-4">
		@*        <a class="btn btn-primary m-2" href="/categoriestable/">Category Cards <i class="fas fa-arrow-left"></i></a>
		<a class="btn btn-info m-2" href="/category/@CategoryId">Category <i class="fas fa-arrow-left"></i></a>
		*@
		<InputSelect id="categories" class="form-control" @bind-Value="@CategoryId">
			@foreach (var item in _categories)
			{
				<option value="@item.Id">@item.CategoryName</option>
			}
		</InputSelect>
	</div>
	<div class="col-md-1">
		<button class="btn btn-outline-success" type="button" @onclick="@( ( ) => LoadData(  ) )"><i class="fa-solid fa-arrow-rotate-right"></i></button>

	</div>
	<div class="col-md-3">
		<input @ref="SearchInput" accesskey="i" class="form-control my-1" style="float:right" @bind="@SearchTerm"
		@bind:event="oninput" id="SearchInput" name="SearchTerm" placeholder="Filter by Name/Command Line (Alt+I)" />
	</div>
</div>
@if (Message.Length > 0)
{
	<div class="alert alert-warning alert-dismissible fade show" role="alert">
		<strong>Please Note!</strong> @Message
		<button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
	</div>
}

@if (FilteredLauncherDTO == null && _loadFailed == true)
{
	<h2 class="text-danger">The data failed to load please try again in a little while..</h2>
	<button class="btn btn-danger" type="button" @onclick="@( () => LoadData() )">Reload</button>
	<h6 class="text-danger">@ExceptionMessage</h6>
}
else if (FilteredLauncherDTO == null)
{
	<div style="display:normal;margin:auto" class="loader"></div>
}
else if (FilteredLauncherDTO.Count == 0)
{
	<p>No Launcher match the criteria</p>
	@*<button @onclick="AddNewLauncherAsync" class="btn btn-success">Add Record <i class="fas fa-plus"></i></button>*@
}
else
{
	<table style="font-size:xx-large;border-width:2px;border-color:white" class="table table-bordered table-striped table-sm table-responsive-sm">
		<thead>
			<tr>
				<th class="text-center">🚀</th>
				<th>
					<button class="btn btn-sm" @onclick="@(() => SortLauncher("Name"))">
						<i class="fas fa-sort-alpha-up"></i>
					</button>
					<button class="btn btn-sm" @onclick="@(() => SortLauncher("Name Desc"))">
						<i class="fas fa-sort-alpha-up-alt"></i>
					</button>
					Name
				</th>
				@*                <th>
			<button class="btn btn-sm" @onclick="@(() => SortLauncher("CommandLine"))">
			<i class="fas fa-sort-alpha-up"></i>
			</button>
			<button class="btn btn-sm" @onclick="@(() => SortLauncher("CommandLine Desc"))">
			<i class="fas fa-sort-alpha-up-alt"></i>
			</button>
			Command Line
			</th>
			*@
				<th>
										<button accesskey="+" @onclick="AddNewLauncherAsync" class="btn btn-outline-success">
				Add
				<i class="fas fa-plus"></i>
				</button>
				
				</th>
			</tr>
		</thead>
		<tbody>
			@foreach (var launcher in FilteredLauncherDTO)
			{
				var newColor = RandomColour;
				<tr>
					<td class="text-center align-middle">
						@if (launcher.CommandLine.ToLower().StartsWith("http"))
						{
							@if (launcher.Icon != null && launcher.Icon.Length > 0)
							{
								<a class="btn btn-outline-success" target="_blank" href="@launcher.CommandLine"><img height=" 50" src='/images/@launcher.Icon' /></a>
							}
							else
							{
								<a class="btn btn-outline-success" target="_blank" href="@launcher.CommandLine"><i class="fa-solid fa-rocket"></i></a>
							}
						}
						else
						{
							<button class="btn btn-outline-success" type="button" @onclick="@( ( ) => MAUILaunching(launcher.CommandLine  ) )">🚀 Launch</button>
							@if (launcher.Icon != null && launcher.Icon.Length > 0)
							{
								<img class="m-1" height="25" src='/images/@launcher.Icon' />
							}

						}
					</td>
					<td>@launcher.Name</td>
					@*<td>@launcher.CommandLine</td>*@
					<td class="btn-group">
						@*						<button class="btn btn-outline-warning" @onclick="@(() => EditLauncherAsync(launcher.Id))">
				<i class="fas fa-edit"></i>
				</button>
				<button class="btn btn-outline-danger" @onclick="@(() => DeleteLauncherAsync(launcher.Id))">
				<i class="fas fa-trash"></i>
				</button>
				*@						@*                  @if (launcher.CommandLine.ToLower().StartsWith("http"))
				{
				@if (launcher.Icon != null && launcher.Icon.Length > 0)
				{
				<a class="btn btn-outline-success" target="_blank" href="@launcher.CommandLine"><img height="25" src='/images/@launcher.Icon' /></a>
				}
				else
				{
				<a class="btn btn-outline-success" target="_blank" href="@launcher.CommandLine"><i class="fa-solid fa-rocket"></i></a>
				}
				}
				else
				{
				<button class="btn btn-outline-primary" @onclick="@(() => LaunchItemAsync(launcher.CommandLine))"><i class="fa-regular fa-copy"></i></button>
				}
				*@
					</td>
				</tr>
			}
		</tbody>
	</table>
}
