@page "/"
@using System.Diagnostics;
@using RazorClassLibrary.Pages
@* @message
@foreach (var item in arguments)
{
	@counter
	<div>@item</div>
	counter++;
}
 *@
<CascadingBlazoredModal>
	@if (languageAndCategoryListing) // filtering by language and category and listing only ten at a time with paging sported
	{
		<CustomIntelliSenseTable CategoryId="@categoryId" LanguageId="@languageId" RunningInBlazorHybrid="true"  />
	}
	else // filtering by display value mostly
	{
		<CustomIntelliSenses CategoryIdFilter="@categoryId" LanguageIdFilter="@languageId" RunningInBlazorHybrid="true" SearchTermParameter="@searchTerm" />
	}
</CascadingBlazoredModal>
