@page "/chat"
<h3>AI Chat Component Example</h3>
@if (prompts != null)
{
    <label for='selectedPromptId'>Select a Predefined Prompt</label>
    <a class='btn btn-link btn-sm' href="/prompts">Manage Prompts</a>
    <InputSelect ValueExpression="@(()=>selectedPromptId)" Value="@selectedPromptId"
        ValueChanged="@(( int  value) => OnValueChangedMethodName(value))" class="form-select">
        @foreach (var item in prompts)
        {
            <option value="@item.Id">@item.Description</option>
        }
    </InputSelect>
}
@if (selectedPrompt != null)
{
    <label>Included Data:</label> @selectedPrompt?.Description
}
<textarea @oninput='ResizeTextAreaPrompt' @ref="inputElement" class='form-control m-1' @bind='@prompt'
    placeholder='Enter some text to chat'>
    @prompt
</textarea>
<button accesskey='c' class="btn btn-outline-success btn-lg m-1" type="button"
    @onclick="@( ( ) => Chat(  ) )"><u>C</u>hat</button>
<button accesskey='l' class="btn btn-outline-danger btn-lg m-1" type="button"
    @onclick="@( ( ) => Clear(  ) )">C<u>l</u>ear</button>
<button accesskey='t' class="btn btn-outline-danger btn-lg m-1" type="button"
    @onclick="@( ( ) => Forget(  ) )">Forge<u>t</u></button>
@if (processing)
{
    <div class="spinner-border text-primary m-2ay" role="status">
        <span class="sr-only">Loading...</span>
    </div>
}
<hr>
@if (response != null && response.Items.Count > 0)
{
    <label>Latest Response</label>
    <button class="btn btn-outline-success btn-sm m-1" type="button"
        @onclick="@( ( ) => ResizeResponse(  ) )">Resize</button>
    <textarea @ref="textAreaRefResponse" class=' form-control' width='100%'>
        @foreach (var item in response.Items)
        {
            @item
        }
        </textarea>
}
<button class="btn btn-primary m-1" @onclick="@( ( ) => ToggleHistory(  ) )">Toggle History</button>
@if (showHistory)
{
    @if (responseHistory != null && responseHistory.Length > 0)
    {
        <label>Response History</label>
        <textarea @ref="textAreaRefResponseHistory" class='form-control' width='100%'>@responseHistory </textarea>
    }
    @if (history != null && history.Length > 0)
    {
        <label>Prompt History</label>
        <textarea @ref="textAreaRefPromptHistory" class='form-control' width='100%'>@history </textarea>
    }
}
<a class='btn-link' href="/smart-components">Back to List of Smart Components</a>