@page "/customintellisenses/{LanguageId:int}/{CategoryID:int}"
@page "/customintellisenses"
<div class="row">
	@if (string.IsNullOrWhiteSpace(GlobalSearchTerm))
	{
		<div class="col-md-7">
			<div class="m-1" style='font-size:15px'>
				<span class='ml-1'>@Title </span>&nbsp;
				@if (currentLanguage != null && currentCategory != null)
				{
					<span class='ml-1 text-warning'>
						@if (currentLanguage.LanguageName == "Not Applicable")
						{
							<text>IntelliSense</text>
						}
						else
						{
							@currentLanguage.LanguageName
						}
						/ @currentCategory.CategoryName</span>
				}
			</div>
		</div>
		<div class="col-md-2">
			<div class='m-1'><span>Page #: </span>@pageNumber</div>
		</div>
		<div class="col-md-3">
			<input @ref="SearchInput" accesskey="i" class="form-control my-1" style="float:right" @bind="@SearchTerm"
				@bind:event="oninput" id="SearchInput" name="SearchTerm" placeholder="Filter (Alt+I)" />
		</div>
	}
	else
{
	<div class='ml-1'>@Title </div>;
}
</div>

@if (FilteredCustomIntelliSenseDTO == null && _loadFailed == true)
{
	<h2 class="text-danger">The data failed to load please try again in a little while..</h2>
	<button class="btn btn-danger" type="button" @onclick="@( () => LoadData() )">Reload</button>
	<h6 class="text-danger">@ExceptionMessage</h6>
}
else if (FilteredCustomIntelliSenseDTO == null)
{
	<div style="display:normal;margin:auto" class="loader"></div>
}
else if (FilteredCustomIntelliSenseDTO.Count == 0)
{
	<p>No Custom Intelli Sense match the criteria @GlobalSearchTerm</p>
	<button @onclick="AddNewCustomIntelliSense" class="btn btn-outline-success">Add Record <i
			class="fas fa-plus"></i></button>
}
else
{
	<table style="font-size:small" class="table table-bordered table-striped table-sm table-responsive-sm">
		<thead>
			<tr>
				<th>
					<button class="btn " @onclick="@(() => SortCustomIntelliSense("DisplayValue"))">
						<i class="fas fa-sort-alpha-up"></i>
					</button>
					<button class="btn " @onclick="@(() => SortCustomIntelliSense("DisplayValue Desc"))">
						<i class="fas fa-sort-alpha-up-alt"></i>
					</button>
					Display Value
				</th>
				<th>
					<button accesskey="+" @onclick="AddNewCustomIntelliSense" class="btn btn-outline-success ">
						<i class="fas fa-plus"></i>
					</button>
				</th>
			</tr>
		</thead>
		<tbody>
			@{
				counter = 0;
			}
			@foreach (var customIntelliSense in FilteredCustomIntelliSenseDTO)
			{
				counter++;
				@if (counter == 10)
				{
					shortcutValue = 0;
				}
				else
				{
					shortcutValue = counter;
				}
				<tr>
					<td>
						<button title='@customIntelliSense.SendKeysValue' style='width:100%' class="btn btn-outline-primary"
							type="button" @onclick="@( ( ) => CopyItemAsync(customIntelliSense.Id  ) )">
							@customIntelliSense.DisplayValue</button>
					</td>
					<td class="btn-group">
						<button accesskey="@shortcutValue" title="Copy and switch and paste" style='min-width:80px'
							class="btn btn-info" @onclick="@(() => CopyAndPasteAsync(customIntelliSense.Id))">
							@if (counter == 10)
							{
								<text>1</text>
							}
							<u>
								@shortcutValue.ToString()
							</u>
							<i class="fa-solid fa-paste"></i>
						</button>
						<button class="btn  btn-outline-warning"
							@onclick="@(() => EditCustomIntelliSense(customIntelliSense.Id))">
							<i class="fas fa-edit"></i>
						</button>
						<button class="btn  btn-outline-danger"
							@onclick="@(() => DeleteCustomIntelliSense(customIntelliSense.Id))">
							<i class="fas fa-trash"></i>
						</button>
					</td>
				</tr>
			}
		</tbody>
	</table>
	@if (string.IsNullOrWhiteSpace(GlobalSearchTerm))
	{
		<button accesskey="p" class="btn btn-outline-success" type="button"
			@onclick="@( ( ) => PreviousPageAsync(  ) )"><u>P</u>revious Page</button>
		<button accesskey="n" class="btn btn-outline-success" type="button" @onclick="@( ( ) => NextPageAsync(  ) )"><u>N</u>ext
			Page</button>
	}
}