@page "/globalsearch"
<PageTitle>Global Search for Relevant Tables</PageTitle>
<heading>
    <h1>Global Search</h1>
</heading>
<main class='row'>
    <div class='col-12'>
        <label for="searchTerm" accesskey="s">Search <kbd>Alt</kbd>+<kbd>S</kbd></label>
        <input id='searchTerm' type="text" @bind-value="@searchTerm"
            placeholder="Enter a Search Value Here and Search Relevant Tables :)" class='form-control'
            @bind-value:event="oninput" />
    </div>
    <div class='col-6'>
        @if (!string.IsNullOrWhiteSpace(searchTerm) && searchTerm.Length > 4)
        {
            <LanguageTable GlobalSearchTerm="@searchTerm" />
        }
    </div>
    <div class='col-6'>
        @if (!string.IsNullOrWhiteSpace(searchTerm))
        {
            <CategoryTable GlobalSearchTerm="@searchTerm" />
        }
    </div>
    <div class='col-7'>
        @if (!string.IsNullOrWhiteSpace(searchTerm))
        {
            <CustomIntelliSenseTable GlobalSearchTerm="@searchTerm" />
        }
    </div>
    <div class='col-5'>
        @if (!string.IsNullOrWhiteSpace(searchTerm))
        {
            <LauncherTable GlobalSearchTerm="@searchTerm" />
        }
    </div>
    <div class='col-6'>
        @if (!string.IsNullOrWhiteSpace(searchTerm))
        {
            <ValueToInsertTable GlobalSearchTerm="@searchTerm" />
        }
    </div>
</main>
