@page "/launcher/{launcherId:int}"

<h1>
	🚀 Launcher
</h1>
@if (LauncherModel == null && _loadFailed)
{
	<h1 class="text-danger">There was a problem loading the data. Please try again in a bit :-(</h1>
}
else if (LauncherModel == null)
{
	<Loading />
}
else
{
	<div class="row">
		@if (Message != null)
		{
			<div class="alert alert-info alert-dismissible fade show" role="alert">
				<strong>Please Note</strong> @Message
				<button type="button" class="close" data-dismiss="alert" aria-label="Close">
					<span @onclick="HideMessage" aria-hidden="true">&times;</span>
				</button>
			</div>

		}
		<div class="col-md-12">
			<EditForm Model="@LauncherModel" OnValidSubmit="HandleValidSubmit">
				<DataAnnotationsValidator />
				@*<ValidationSummary />*@
				<div class="form-field row">
					<label class="col-md-4">Id</label>
					@if (LauncherModel.Id > 0)
					{
						<div class="col-md-8">@LauncherModel.Id</div>
					}
					<input type="hidden" name="Id" id="Id" value="@LauncherModel.Id" />
				</div>
				<div class="form-field row">
					<label for="@LauncherModel.Name" class="col-md-4"> Launcher Name (0) *️⃣</label>
					<InputText class="col-md-8 form-control" placeholder="Enter Launcher Name, must be unique" accesskey="0" id="LauncherName" @bind-Value="LauncherModel.Name" @onblur="@(e => CallChangeAsync("LauncherName"))" ></InputText >
					<ValidationMessage For="@(() => LauncherModel.Name)" />
				</div>
				<div class="form-field row">
					<label for="@LauncherModel.Icon" class="col-md-4"> Icon</label>
					<InputText class="col-md-8 form-control" placeholder="Popular Icon" id="Icon" @bind-Value="LauncherModel.Icon" @onblur="@(e => CallChangeAsync("Icon"))" ></InputText >
					<ValidationMessage For="@(() => LauncherModel.Icon)" />
				</div>
				<div class="form-field row">
					<label for="@LauncherModel.CommandLine" class="col-md-4"> Command Line (1) *️⃣</label>
					<InputTextArea rows="3" class="col-md-8 form-control" placeholder="Enter the Command Line" accesskey="1" id="CommandLine" @bind-Value="LauncherModel.CommandLine"></InputTextArea>
					<ValidationMessage For="@(() => LauncherModel.CommandLine)" />
				</div>
				<div class="form-field row">
					<label for="@LauncherModel.CategoryId" class="col-md-4"> Category (2) *️⃣</label>
					<select accesskey="2" class="form-select col-md-8" @bind="LauncherModel.CategoryId">
						<option value="">-</option>
						@if (Categories != null)
						{
							@foreach (var category in Categories)
							{
								@if (LauncherModel.CategoryId == category.Id)
								{
									<option selected value="@category.Id">@category.CategoryName</option>
								}
								else
								{
									<option value="@category.Id">@category.CategoryName </option>
								}
							}
						}
					</select>
					<ValidationMessage For="@(() => LauncherModel.CategoryId)" />
				</div>
				<div class="form-field row">
					<label for="@LauncherModel.ComputerId" class="col-md-4"> Computer</label>
					<select class="form-select col-md-8" @bind="LauncherModel.ComputerId">
						<option value="">-</option>
						@if (Computers != null)
						{
							@foreach (var computer in Computers)
							{
								@if (LauncherModel.ComputerId == computer.Id)
								{
									<option selected value="@computer.Id">@computer.ComputerName</option>
								}
								else
								{
									<option value="@computer.Id">@computer.ComputerName </option>
								}
							}
						}
					</select>
					<ValidationMessage For="@(() => LauncherModel.ComputerId)" />
				</div>
				<div class="form-group">
					<label for="Favourite">Favourite: </label>
					<InputCheckbox id="Favorite" class="form-control" @bind-Value="@LauncherModel.Favourite"
								   placeholder="Enter Favourite"></InputCheckbox>
					<ValidationMessage For="@(() => LauncherModel.Favourite)" />
				</div>

				<button accesskey="3" class="btn btn-lg btn-success" type="submit">Submit (3) <i class="fas fa-save"></i></button>
@*				<button accesskey="3" class="btn btn-lg btn-success" @onclick="@OnClose" type="submit">Submit & Close (3) <i class="fas fa-save"></i></button>
*@			</EditForm>
<p class="text-info">If the launcher is no longer required, an alternative to deleting it will be to set the category to Seldom Used or Spare or setting the computer to Select to Hide.</p>
		</div>
	</div>

}