@page "/launcherstable/{CategoryID:int}"
<PageTitle>Launchers</PageTitle>
<div class="row">
    @if (!RunningInBlazorHybrid && string.IsNullOrWhiteSpace(GlobalSearchTerm))
    {
        <div class="col-md-5">
            <span style="font-weight:600;font-size:x-large">@Title</span>
            <button class="btn btn-sm btn-outline-warning" @onclick="@(() => SortLauncher("Name"))">
                <i class="fas fa-sort-alpha-up"></i>
            </button>
            <button class="btn btn-sm btn-outline-warning" @onclick="@(() => SortLauncher("Name Desc"))">
                <i class="fas fa-sort-alpha-up-alt"></i>
            </button>
        </div>
    }
    else
    {
        <div class="col-md-12">
            <div class="text-center text-info">
                Launch Search Results: @GlobalSearchTerm
            </div>
        </div>
    }
    <div class="col-md-3">
        @if (!RunningInBlazorHybrid && string.IsNullOrWhiteSpace(GlobalSearchTerm))
        {
            <label accesskey="1" for="CategoryId" class='fs-6 m-1'>Categories (Alt+1)</label>
        }
        @if (string.IsNullOrWhiteSpace(GlobalSearchTerm))
        {
            <InputSelect ValueExpression="@(()=>CategoryId)" id='CategoryId' Value="@CategoryId"
                ValueChanged="@(( int  value) => OnCategorySelectedAsync(value))" class="form-select form-select-sm my-1">
                <option value="">-</option>
                @foreach (var item in _categories)
                {
                    <option style="font-size:xx-large" value="@item.Id">@item.CategoryName</option>
                }
            </InputSelect>
        }
    </div>
    @if (!RunningInBlazorHybrid && string.IsNullOrWhiteSpace(GlobalSearchTerm))
    {
        <div class="col-md-2">
            <button class="btn btn-outline-danger" type="button" @onclick="@( ( ) => LoadData(  ) )">
                <i class="fa-solid fa-arrows-rotate"></i>
            </button>
            <button accesskey="+" @onclick="AddNewLauncherAsync" class="btn btn-outline-success">
                Add
                (<i class="fas fa-plus"></i>)
            </button>
        </div>
    }
    @if (string.IsNullOrWhiteSpace(GlobalSearchTerm))
    {
        <label for='SearchInput' class="sr-only">Type to Filter</label>
        <div class="col-md-2">
            <input @ref="SearchInput" accesskey="3" class="form-control my-1" style="float:right" @bind="@SearchTerm"
                @bind:event="oninput" id="SearchInput" name="SearchTerm" placeholder="Filter (Alt+3)" />
        </div>
    }
</div>
@if (Message.Length > 0)
{
    <div class="alert alert-warning alert-dismissible fade show" role="alert">
        <strong>Please Note!</strong> @Message
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>
}

@if (FilteredLauncherDTO == null && _loadFailed == true)
{
    <h2 class="text-danger">The data failed to load please try again in a little while..</h2>
    <button class="btn btn-danger" type="button" @onclick="@( () => LoadData() )">Reload</button>
    <h6 class="text-danger">@ExceptionMessage</h6>
}
else if (FilteredLauncherDTO == null)
{
    <div style="display:normal;margin:auto" class="loader"></div>
}
else if (FilteredLauncherDTO.Count == 0)
{
    <p>No Launcher match the criteria @GlobalSearchTerm</p>
    <button @onclick="AddNewLauncherAsync" class="btn btn-lg btn-success">Add Record <i class="fas fa-plus"></i></button>
}
else
{
    <div class="layout-as-cards">
        @{
            alphabetCounter = 0;
        }
        @foreach (var launcher in FilteredLauncherDTO)
        {
            alphabetCounter++;
            currentLetter = Alphabet.AlphabetList?.Where(x => x.Id == alphabetCounter).FirstOrDefault()?.Letter;
            <div class="card">
                <div class="card-header" title="@launcher.CommandLine">
                    @if (launcher.CommandLine.ToLower().StartsWith("http"))
                    {
                        @if (launcher.Icon != null && launcher.Icon.Length > 0)
                        {
                            <a title="Launch Application or Website" accesskey="@currentLetter" style="font-size:large"
                                class="btn btn-outline-success" target="_blank" href="@launcher.CommandLine">
                                <img alt='Stock Item Logo' height="50" src='/images/@launcher.Icon' aria-hidden="true" />
                                <u>@currentLetter</u> @launcher.Name
                            </a>
                        }
                        else
                        {
                            <a title='Launch Application or Website' accesskey="@currentLetter" style="font-size:large"
                                class="btn btn-outline-success mx-2" target="_blank" href="@launcher.CommandLine">
                                <i aria-hidden='true' class="fa-solid fa-rocket"></i>
                                <u>@currentLetter</u> @launcher.Name
                            </a>
                        }
                    }
                    else
                    {
                        @if (launcher.Icon != null && launcher.Icon.Length > 0)
                        {
                            <button title='Launch Application or Website' accesskey="@currentLetter" style="font-size:large"
                                class="btn btn-outline-success text-light mx-2" type="button"
                                @onclick="@( ( ) => ProcessLaunching(launcher.Id  ) )">
                                <img alt="Stock Image" aria-hidden='true' class="" height="35" src='/images/@launcher.Icon' />
                                <u>@currentLetter</u> @launcher.Name
                            </button>
                        }
                        else
                        {
                            <button title='Launch Application or Website' accesskey="@currentLetter" style="font-size:large"
                                class="btn btn-outline-success mx-2" type="button"
                                @onclick="@( ( ) => ProcessLaunching(launcher.Id  ) )">
                                🚀 <u>@currentLetter</u>
                                @launcher.Name
                            </button>

                        }
                    }
                    @if (!RunningInBlazorHybrid)
                    {

                        <button title='Edit Launcher' class="btn-narrow btn btn-lg btn-outline-warning m-1"
                            @onclick="@(() => EditLauncherAsync(launcher.Id))">
                            <i class="fas fa-edit"></i>
                        </button>
                        <button title='Delete Launcher' class="btn btn-lg btn-outline-danger"
                            @onclick="@(() => DeleteLauncherAsync(launcher.Id))">
                            <i class="fas fa-trash"></i>
                        </button>
                    }
                </div>
            </div>
        }
    </div>
}
