
@page "/savedmousepositions"

<div class="row">
    <div class="col-md-7">
        <h5 class="page-title m-1">@Title</h5>
    </div>
    <div class="col-md-1">
        
   </div>
    <div class="col-md-4">
        <input @ref="SearchInput" accesskey="i" class="form-control my-1" style="float:right" @bind="@SearchTerm" 
        @bind:event="oninput" id="SearchInput" name="SearchTerm" placeholder="Filter by Named Location (Alt+I)" />
    </div> 
</div>

@if (FilteredSavedMousePositionDTO == null && _loadFailed == true)
{
    <h2 class="text-danger">The data failed to load please try again in a little while..</h2>
    <button class="btn btn-danger" type="button" @onclick="@( () => LoadData() )">Reload</button>
    <h6 class="text-danger">@ExceptionMessage</h6>
}
else if (FilteredSavedMousePositionDTO == null)
{
    <div style="display:normal;margin:auto" class="loader"></div>
}
else if (FilteredSavedMousePositionDTO.Count == 0)
{
    <p>No Saved Mouse Position match the criteria</p>
    <button @onclick="AddNewSavedMousePositionAsync" class="btn btn-success">Add Record <i class="bi bi-plus"></i></button>
}
else
{
    <table style="font-size:small" class="table table-bordered table-striped table-sm table-responsive-sm">
        <thead>
            <tr>
              <th>
                    <button class="btn btn-sm" @onclick="@(() => SortSavedMousePosition("NamedLocation"))">
                        <i class="fas fa-sort-alpha-up"></i>
                    </button>
                    <button class="btn btn-sm" @onclick="@(() => SortSavedMousePosition("NamedLocation Desc"))">
                        <i class="fas fa-sort-alpha-up-alt"></i>
                    </button>
                    Named Location
                </th>
              <th>X</th>
              <th>Y</th>
              <th>Created</th>
                <th>
                    <button accesskey="+" @onclick="AddNewSavedMousePositionAsync" class="btn btn-success btn-sm">
                        <i class="bi bi-plus"></i>
                    </button>
                </th>
            </tr>
        </thead>
        <tbody>
            @foreach (var savedMousePosition in FilteredSavedMousePositionDTO)
            {
                <tr>
                    <td style='font-size:30px' >@savedMousePosition.NamedLocation</td>
                    <td>@savedMousePosition.X</td>
                    <td>@savedMousePosition.Y</td>
                    <td>@savedMousePosition.Created</td>
                    <td class="btn-group-vertical">
                        <button class="btn btn-sm btn-warning" @onclick="@(() => EditSavedMousePositionAsync(savedMousePosition.Id))">
                            <i class="bi bi-pencil"></i>
                        </button>
                        <button class="btn btn-sm btn-danger" @onclick="@(() => DeleteSavedMousePositionAsync(savedMousePosition.Id))">
                            <i class="bi bi-trash"></i>
                        </button>
                    </td>
                </tr>
            }
        </tbody>
    </table>
}
