@page "/transactions"
@using System.Globalization
@using DataAccessLibrary.DTOs
@errorMessage
@if (HouseholdTransactions != null && HouseholdTransactions.Count > 0 && HouseholdTransactionsPrevious != null
&& HouseholdTransactionsPrevious.Count > 0)
{
    <div style='background-color:black'>
        <h4>Household Charges</h4>
        <RadzenChart ColorScheme="ColorScheme.Palette">
            <RadzenLineSeries Smooth="true" Data="@HouseholdTransactions.Where(x => x.MoneyOut > 0).ToList()"
                CategoryProperty="Description" Title="Current Year" Visible="true" LineType="LineType.Solid"
                ValueProperty="MoneyOut">
                <RadzenMarkers Visible="true" MarkerType="MarkerType.Auto" />
                @* <RadzenSeriesDataLabels Visible="false" /> *@
            </RadzenLineSeries>
            <RadzenLineSeries Smooth="true" Data="@HouseholdTransactionsPrevious.Where(x => x.MoneyOut > 0).ToList()"
                CategoryProperty="Description" Title="Previous Year" Visible="true" LineType="LineType.Solid"
                ValueProperty="MoneyOut">
                <RadzenMarkers Visible="true" MarkerType="MarkerType.Auto" />
                @* <RadzenSeriesDataLabels Visible="false" /> *@
            </RadzenLineSeries>
        </RadzenChart>
    </div>
}
<div class="row">
    @if (informationMessage.Length > 0)
    {
        <div class='col-md-12'>
            <div class="alert alert-success" role="alert">
                @informationMessage
            </div>
        </div>
    }
    @if (errorMessage.Length > 0)
    {
        <div class='col-md-12'>
            <div class="alert alert-danger" role="alert">
                @errorMessage
            </div>
        </div>
    }
    <div class="col-md-7">
        <label class='form-label'>Import</label>
        <InputFile type="file" onchange="HandleFileSelection" class="btn btn-outline-secondary m-1" accept=".csv" />
        <a class='btn btn-sm btn-outline-secondary' href="/transactiontypemappings">Mappings</a>
        <button type="button" class='btn btn-sm btn-outline-secondary'
            @onclick='BreakdownByMyTransactionType'>Breakdown</button>
        <button type="button" class='btn btn-sm btn-outline-secondary'
            @onclick='HouseholdChargesReport'>Household</button>
        <button type="button" class='btn btn-sm btn-outline-secondary' @onclick='ExportToCsv'>Export</button>
        <button type="button" class='btn btn-sm btn-outline-secondary' @onclick='ResetBreakdown'>Reset</button>
        <input class='form-checkbox' type="checkbox" @bind="@SubtotalsOnly" /> Subtitles Only
    </div>

    <div class="col-md-2">
        <div class='form-group'>
            <label class="form-label">From Date</label>
            <input type="date" class="form-control" @bind="@FromDate" />
        </div>
    </div>
    <div class="col-md-2">
        <div class='form-group'>
            <label class="form-label">To Date</label>
            <input type="date" class="form-control" @bind="@ToDate" />
        </div>
    </div>
    <div class="col-md-1">
        <button class="btn btn-primary" @onclick="ApplyLocalFilter">
            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-funnel-fill"
                viewBox="0 0 16 16">
                <path
                    d="M1.5 1.5A.5.5 0 0 1 2 1h12a.5.5 0 0 1 .5.5v2a.5.5 0 0 1-.128.334L10 8.692V13.5a.5.5 0 0 1-.342.474l-3 1A.5.5 0 0 1 6 14.5V8.692L1.628 3.834A.5.5 0 0 1 1.5 3.5z" />
            </svg>
        </button>
    </div>
    <div class="col-md-3">
        <h5 class="m-1">@Title of @totalRows Page: @pageNumber</h5>
    </div>
    @if (_serverPaging)
    {
        <div class="col-md-2">
            <button title="Go to 1st page" type="button" class="btn btn-sm btn-outline-secondary mx-1"
                @onclick="@(()  => PageDown(true))">
                <i class="fa-solid fa-backward-fast"></i>
            </button>
            <button title="Go to previous page" type="button" class="btn btn-sm btn-outline-secondary mx-1"
                @onclick="(()  => PageDown(false))">
                <i class="fa-solid fa-left-long"></i>
            </button>
            <button title="Go to next page" type="button" class="btn btn-sm btn-outline-secondary mx-1"
                @onclick="(() => PageUp(false)) ">
                <i class="fa-solid fa-right-long"></i>
            </button>
            <button title="Go to last page" type="button" class="btn btn-sm btn-outline-secondary mx-1"
                @onclick="(()  => PageUp(true))">
                <i class="fa-solid fa-forward-fast"></i>
            </button>
        </div>
        <div class="col-md-2">
            <div class='row'>
                <div class='col-md-3'>
                    <label for='pageSize'>Page Size</label>
                </div>
                <div class='col-md-9'>
                    <input id='pageSize' name='pageSize' @onblur="ApplyFilter" class='form-control' type="number"
                        @bind="@pageSize" />
                </div>
            </div>
        </div>
    }
    @if (_serverPaging)
    {
        <div class="col-md-4">
            <input @ref="SearchInput" accesskey="i" class="form-control my-1" style="float:right" @bind="@SearchTerm"
                @bind:event="oninput" id="SearchInput" name="SearchTerm" @onblur="ApplyFilter"
                placeholder="Filter by Description/Type/My Transaction Type (Alt+I)" />
        </div>
    }
    else
    {
        <div class="col-md-4">
            <input class="form-control my-1" style="float:right" @bind="@ClientSearchTerm" id="ClientSearchInput"
                name="ClientSearchTerm" @bind:event="oninput"
                placeholder="Filter by Description/Type/My Transaction Type" />
        </div>
    }
</div>
@if (FilteredTransactionDTO == null && _loadFailed == true)
{
    <h2 class="text-danger">The data failed to load
        please try again in a little while..</h2>
    <button class="btn btn-danger" type="button" @onclick="@( () => LoadData() )">Reload</button>
    <h6 class="text-danger">@ExceptionMessage</h6>
}
else if (FilteredTransactionDTO == null)
{
    <div style="display:normal;margin:auto" class="loader"></div>
}
else if (FilteredTransactionDTO.Count ==
0)
{
    <p>No Transaction match the
        criteria</p>
    <button @onclick="AddNewTransaction" class="btn btn-outline-primary  btn-lg">Add
        Record
        <i class="fa-solid fa-plus"></i>
    </button>
}
else
{
    <table style="font-size:small" class="table table-bordered table-striped table-sm table-responsive-sm">
        <thead>
            <tr>
                <th>
                    Id
                </th>
                <th style="width: 10%;">
                    Date
                    <button class="btn btn-sm btn-outline-secondary" @onclick="@(() => SortTransaction("Date"))">
                        <i class="fa-solid fa-arrow-up-a-z"></i>
                    </button>
                    <button class="btn btn-sm btn-outline-secondary" @onclick="@(() => SortTransaction("Date Desc"))">
                        <i class="fa-solid fa-arrow-up-z-a"></i>
                    </button>
                </th>
                <th style='width:25%'>
                    Description
                    <button class="btn btn-sm btn-outline-secondary" @onclick="@(() => SortTransaction("Description"))">
                        <i class="fa-solid fa-arrow-up-a-z"></i>
                    </button>
                    <button class="btn btn-sm btn-outline-secondary"
                        @onclick="@(() => SortTransaction("Description Desc"))">
                        <i class="fa-solid fa-arrow-up-z-a"></i>
                    </button>
                </th>
                <th style="width: 10%;">
                    Type
                    <button class="btn btn-sm btn-outline-secondary" @onclick="@(() => SortTransaction("Type"))">
                        <i class="fa-solid fa-arrow-up-a-z"></i>
                    </button>
                    <button class="btn btn-sm btn-outline-secondary" @onclick="@(() => SortTransaction("Type Desc"))">
                        <i class="fa-solid fa-arrow-up-z-a"></i>
                    </button>
                </th>
                <th style="width: 12%;">
                    Money In
                    <button class="btn btn-sm btn-outline-secondary" @onclick="@(() => SortTransaction("MoneyIn"))">
                        <i class="fa-solid fa-arrow-up-a-z"></i>
                    </button>
                    <button class="btn btn-sm btn-outline-secondary" @onclick="@(() => SortTransaction("MoneyIn Desc"))">
                        <i class="fa-solid fa-arrow-up-z-a"></i>
                    </button>
                </th>
                <th style="width: 12%;">
                    Money Out
                    <button class="btn btn-sm btn-outline-secondary" @onclick="@(() => SortTransaction("MoneyOut"))">
                        <i class="fa-solid fa-arrow-up-a-z"></i>
                    </button>
                    <button class="btn btn-sm btn-outline-secondary" @onclick="@(() => SortTransaction("MoneyOut Desc"))">
                        <i class="fa-solid fa-arrow-up-z-a"></i>
                    </button>
                </th>
                <th style="width: 12%;">
                    My Type
                    <button class="btn btn-sm btn-outline-secondary"
                        @onclick="@(() => SortTransaction("MyTransactionType"))">
                        <i class="fa-solid fa-arrow-up-a-z"></i>
                    </button>
                    <button class="btn btn-sm btn-outline-secondary"
                        @onclick="@(() => SortTransaction("MyTransactionType Desc"))">
                        <i class="fa-solid fa-arrow-up-z-a"></i>
                    </button>
                </th>
                <th class="btn-group border border-1">
                    <button accesskey="+" @onclick="AddNewTransaction" class="btn btn-outline-success btn-sm">
                        Create
                        <i class="fa-solid fa-plus"></i>
                    </button>
                </th>
            </tr>
        </thead>
        <tbody>
            @foreach (TransactionDTO transaction in FilteredTransactionDTO)
            {
                <tr>
                    @if (!showingBreakdown)
                    {
                        <td class='p-2' style="cursor:pointer" @onclick="@(() => EditTransaction(transaction.Id))">
                            <button class="btn btn-sm btn-link">
                                @transaction.Id
                            </button>
                        </td>
                    }
                    else
                    {
                        <td class='p-2'>
                            <span class='text-success'>@transaction.Id</span>
                        </td>
                    }
                    <td class='p-3'>
                        @if (transaction.Date.HasValue)
                        {
                            @transaction.Date.Value.ToString("dd/MM/yyyy", new CultureInfo("en-GB"))
                        }
                        else
                        {
                            <span class='text-success'>-----</span>
                        }
                    </td>
                    <td class='p-3'>
                        @if (transaction != null && transaction.Description != null &&
                       transaction.Description.ToLower().Contains("subtotal"))
                        {
                            <span class='text-secondary'>@transaction.Description</span>
                        }
                        else
                        {
                            @if (transaction?.MoneyIn > 0)
                            {
                                <span class='text-success'>@transaction.Description</span>
                            }
                            else if (transaction?.MoneyOut > 0)
                            {
                                <span class='text-danger'>@transaction.Description</span>
                            }
                        }
                    </td>
                    <td class='p-3'>
                        @transaction?.Type
                    </td>
                    @if (transaction != null)
                    {
                        <td class='p-3' style="text-align: right;">
                            @transaction.MoneyIn.ToString("C", new CultureInfo("en-GB"))
                        </td>
                        <td class='p-3' style="text-align: right;">
                            @transaction.MoneyOut.ToString("C", new CultureInfo("en-GB"))
                        </td>
                        <td class='p-3'>
                            @if (!showingBreakdown)
                            {
                                @transaction.MyTransactionType
                            }
                            else if (transaction.Description != null && !transaction.Description.ToLower().Contains("subtotal"))
                            {
                                <span class='text-success'>@transaction.MyTransactionType</span>
                            }
                        </td>
                    }
                    <td class="btn-group border border-1" style='width:100%'>
                        @if (!showingBreakdown && transaction != null)
                        {
                            <button class="btn btn-sm btn-outline-warning" @onclick="@(() => EditTransaction(transaction.Id))">
                                Edit
                                <i class="fa-solid fa-pen-to-square"></i>
                            </button>
                            <button class="btn btn-sm btn-outline-danger" @onclick="@(() => DeleteTransaction(transaction.Id))">
                                Delete
                                <i class="fa-solid fa-trash"></i>
                            </button>
                        }
                        else
                        {
                            @if (transaction != null)
                            {
                                <button disabled class="btn btn-sm btn-outline-warning"
                                    @onclick="@(() => EditTransaction(transaction.Id))">
                                    Edit
                                    <i class="fa-solid fa-pen-to-square"></i>
                                </button>
                                <button disabled class="btn btn-sm btn-outline-danger"
                                    @onclick="@(() => DeleteTransaction(transaction.Id))">
                                    Delete
                                    <i class="fa-solid fa-trash"></i>
                                </button>
                            }
                        }
                    </td>
                </tr>
            }
        </tbody>
        <tfoot>
            <tr>
                <td></td>
                <td colspan="3">
                    <button class="btn btn-sm btn-outline-secondary" @onclick="@(() => SortTransaction("Date"))">
                        <i class="fa-solid fa-arrow-up-a-z"></i>
                    </button>
                    <button class="btn btn-sm btn-outline-secondary" @onclick="@(() => SortTransaction("Date Desc"))">
                        <i class="fa-solid fa-arrow-up-z-a"></i>
                    </button>
                    Date
                </td>
                <td style="text-align: right;">
                    @FilteredTransactionDTO.Sum(x => x.MoneyIn).ToString("C", new CultureInfo("en-GB"))
                </td>
                <td style="text-align: right;">
                    @FilteredTransactionDTO.Sum(x => x.MoneyOut).ToString("C", new CultureInfo("en-GB"))
                </td>
                <td style="text-align: right;">
                    @FilteredTransactionDTO.Sum(x => x.Balance).ToString("C", new CultureInfo("en-GB"))
                </td>
                <td colspan="1">
                    <button class="btn btn-sm btn-outline-secondary"
                        @onclick="@(() => SortTransaction("MyTransactionType"))">
                        <i class="fa-solid fa-arrow-up-a-z"></i>
                    </button>
                    <button class="btn btn-sm btn-outline-secondary"
                        @onclick="@(() => SortTransaction("MyTransactionType Desc"))">
                        <i class="fa-solid fa-arrow-up-z-a"></i>
                    </button>
                    My Transaction Type
                </td>
                <td class="btn-group border border-1" style='width:100%'>
                    <button accesskey="+" @onclick="AddNewTransaction" class="btn btn-outline-success btn-sm">
                        Create
                        <i class="fa-solid fa-plus"></i>
                    </button>
                </td>
            </tr>
        </tfoot>
    </table>
}
