@page "/visualstudiocommandoverview"

<div class="row">
	<div class="col-md-6">
		<h6>@Title</h6>
	</div>
	<div class="col-md-6">
		<input @ref="SearchInput" class="form-control m-1" style="float:right" @bind="@SearchTerm" @bind:event="oninput" id="SearchInput" name="SearchTerm" placeholder="Enter Search Term to Filter.." />
	</div>
</div>

@if (FilteredVisualStudioCommands == null && _loadFailed == true)
{
	<h1 class="text-danger">The data failed to load please try again in a little while..</h1>
	<h6>@ExceptionMessage</h6>
}
else if (FilteredVisualStudioCommands == null)
{
	<Loading/>
}
else if (FilteredVisualStudioCommands.Count == 0)
{
	<p>No visualstudio commands.</p>
	@*<button @onclick="AddNewVisualStudioCommandAsync" accesskey="4" class="btn btn-success">Create (4) 
	<i class="bi bi-plus"></i>
	</button>*@
}
else
{
	<table class="table table-bordered table-striped table-sm" id="table1">
		<thead>
			<tr>
				<th></th>
				<th>
					Caption
				</th>
				<th></th>
				<th>Command</th>
				@*<th>
					<button accesskey="4" @onclick="AddNewVisualStudioCommandAsync" class="btn btn-success">Create (4) <i class="bi bi-plus"></i>
					</button>
				</th>*@
			</tr>
		</thead>
		<tbody>
			@foreach (var visualstudiocommand in FilteredVisualStudioCommands)
			{
			<tr>
				<td>
						<button class="btn btn-outline-primary" type="button" @onclick="@( ( ) => CopyAsync( visualstudiocommand.Caption ) )"><i class="fa-regular fa-copy"></i></button>
				</td>
				<td>@visualstudiocommand.Caption</td>
					<td>
						<button class="btn btn-outline-primary" type="button" @onclick="@( ( ) => CopyAsync( visualstudiocommand.Command ) )"><i class="fa-regular fa-copy"></i></button>
					</td>

				<td>@visualstudiocommand.Command</td>
				@*<td class="btn-group">
					<button class="btn btn-sm btn-warning" @onclick="@(() => EditVisualStudioCommandAsync(visualstudiocommand.Id))">
						Edit <i class="bi bi-pencil"></i>
					</button>
					<button class="btn btn-sm btn-danger" @onclick="@(() => DeleteVisualStudioCommandAsync(visualstudiocommand.Id))">
						Delete <i class="bi bi-trash"></i>
					</button>
				</td>*@
			</tr>
			}
		</tbody>
	</table>
}
