@page "/commands"

<h3>
	Popular <span class="oi oi-microphone" aria-hidden="true"></span> Commands
	<span class="form-check-inline">
		<label class="control-label">Show Video</label>
		<input type="checkbox" class="form-control" @bind="@ShowVideo" />
	</span>
</h3>
<section class="row">
	<div class="col-md-6 background-logo">
		<h4><a target="_blank" href="https://visualstudio.microsoft.com/">Visual Studio</a></h4>
		<h6>Navigation</h6>
		<ul>
			<li>
				<a @onclick="@(() => FilterCommand("Last","devenv",false,"https://youtu.be/iT-7yMQoPyg?t=70"))" class="">Last</a>
				[ Edit | Position ] /
				<a @onclick="@(() => FilterCommand("Go To Containing Block","devenv",false,"https://youtu.be/iT-7yMQoPyg?t=105"))" class="">Go To Containing Block</a>
			</li>
			<li>
				<a @onclick="@(() => FilterCommand("Navigation","devenv",false,"https://youtu.be/iT-7yMQoPyg?t=114"))" class="">Navigation Menu</a> /
				Navigate {
				<a @onclick="@(() => FilterCommand("Navigate Backwards","devenv",false,"https://youtu.be/iT-7yMQoPyg?t=145"))" class="">Backwards</a> |
				<a @onclick="@(() => FilterCommand("Navigate Forwards","devenv",false,"https://youtu.be/iT-7yMQoPyg?t=145"))" class="">Forwards</a>
				}
			</li>
			<li>
				<a @onclick="@(() => FilterCommand("Navigate To","devenv",false,"https://youtu.be/iT-7yMQoPyg?t=158"))" class="">Navigate To</a>
				[ &lt;dictation&gt; ] / Navigate
				<a @onclick="@(() => FilterCommand("Navigate Blazor Component","devenv",false,"https://youtu.be/iT-7yMQoPyg?t=171"))" class="">Blazor Component</a> |
				<a @onclick="@(() => FilterCommand("Navigate Controller","devenv",false,"https://youtu.be/iT-7yMQoPyg?t=171"))" class="">Controller</a> |
				<a @onclick="@(() => FilterCommand("Navigate Type","devenv",false,"https://youtu.be/iT-7yMQoPyg?t=212"))" class="">Type</a> |
				<a @onclick="@(() => FilterCommand("Navigate Members","devenv",false,"https://youtu.be/iT-7yMQoPyg?t=229"))" class="">Members</a> |
				<a @onclick="@(() => FilterCommand("Navigate Recent Files","devenv",false,"https://youtu.be/iT-7yMQoPyg?t=244"))" class="">Recent Files</a>
				]
			</li>
			<li>
				<a @onclick="@(() => FilterCommand("Go to","devenv",false,"https://youtu.be/iT-7yMQoPyg?t=288"))" class="">Go to</a>
				{ Definition | Implementation }
			</li>
			<li>
				Following / Previous {
				<a @onclick="@(() => FilterCommand("Issue","devenv",false,"https://youtu.be/iT-7yMQoPyg?t=353"))" class="">Issue</a> |
				<a @onclick="@(() => FilterCommand("Highlight","devenv",false,"https://youtu.be/iT-7yMQoPyg?t=370"))" class="">Highlight</a> |
				<a @onclick="@(() => FilterCommand("Bookmark","devenv",false,"https://youtu.be/iT-7yMQoPyg?t=391"))" class="">Bookmark</a> |
				<a @onclick="@(() => FilterCommand("Method","devenv",false,"https://youtu.be/iT-7yMQoPyg?t=400"))" class="">Method</a>
				}
			</li>
			<li>
				{Drop | Swap | Collect}
				<a @onclick="@(() => FilterCommand("Marker","devenv",false,"https://youtu.be/iT-7yMQoPyg?t=419"))" class="">Marker</a>
				(<a target="_blank" href="https://www.devexpress.com/products/coderush/">CodeRush</a> only)
			</li>
			<li>
				<a @onclick="@(() => FilterCommand("Jump to","devenv",false,"https://youtu.be/iT-7yMQoPyg?t=489"))" class="">Jump to</a>
				[Symbol | File] / [Next | Previous]
				<a @onclick="@(() => FilterCommand("Tab","devenv"))" class="">Tab</a>
			</li>
			<li>
				<a @onclick="@(() => FilterCommand("Find","devenv",true,"https://youtu.be/iT-7yMQoPyg?t=514"))" class="">Find {Following/Previous} &lt;dictation&gt;</a> / 
				<a @onclick="@(() => FilterCommand("Search Code Location","devenv",false,"https://youtu.be/iT-7yMQoPyg?t=548"))" class="">Search Code Location</a>
				<br>
				<a @onclick="@(() => FilterCommand("Use Regular Expression","devenv",false,"https://youtu.be/iT-7yMQoPyg?t=565"))" class="">Use Regular Expressions</a> /
				<a @onclick="@(() => FilterCommand("Match Whole word","devenv",false,"https://youtu.be/iT-7yMQoPyg?t=588"))" class="">Match Whole Word</a>
				
			</li>
			<li>
				<a @onclick="@(() => FilterCommand("Select Tag","devenv",false,"https://youtu.be/iT-7yMQoPyg?t=548"))" class="">Select Tag</a>&lt;htmltags&gt;
			</li>

		</ul>
		<h6> Debugging</h6>
		<ul>
			<li>
				Toggle {
				<a @onclick="@(() => FilterCommand("Toggle Bookmark","devenv",false,"https://youtu.be/iT-7yMQoPyg?t=641"))" class="">Toggle Bookmark</a> |
				<a @onclick="@(() => FilterCommand("Breakpoint","devenv",false,"https://youtu.be/iT-7yMQoPyg?t=647"))" class="">Breakpoint</a> }
			</li>
			<li>
				[Show/View]  |
				<a @onclick="@(() => FilterCommand("Bookmark Window","devenv",false,"https://youtu.be/iT-7yMQoPyg?t=663"))" class="">Bookmark Window</a> |
				<a @onclick="@(() => FilterCommand("Show Error List","devenv",false,"https://youtu.be/iT-7yMQoPyg?t=680"))" class="">Show Error List</a> |

				<a @onclick="@(() => FilterCommand("Immediate Window","devenv",false,"https://youtu.be/iT-7yMQoPyg?t=690"))" class="">Immediate Window</a> |

				<a @onclick="@(() => FilterCommand("Command Window","devenv",false,"https://youtu.be/iT-7yMQoPyg?t=699"))" class="">Command Window</a> |
				<a @onclick="@(() => FilterCommand("Close Tool Window","devenv",false,"https://youtu.be/iT-7yMQoPyg?t=673"))" class="">Close Tool Window</a> |
				<a @onclick="@(() => FilterCommand("Auto Hide","devenv"))" class="">Auto Hide</a>
			</li>
			<li>
				<a @onclick="@(() => FilterCommand("Start Application","devenv",false,"https://youtu.be/mhekwurGktc?t=4"))" class="">Start Application (Shift+F5)</a>
				/ Press F5 / {
				<a @onclick="@(() => FilterCommand("Build","devenv",false,"https://youtu.be/mhekwurGktc?t=184"))">Build</a>

				| <a @onclick="@(() => FilterCommand("Clean","devenv",false,"https://youtu.be/mhekwurGktc?t=184"))" class="">Clean</a>
				} {Project |
				<a @onclick="@(() => FilterCommand("Solution Confirm","devenv",false,"https://youtu.be/mhekwurGktc?t=184"))" class="">Solution Confirm</a>}
			</li>
		</ul>
		<h6>Creating/Editing</h6>
		<ul>
			<li>
				<a href="loading" @onclick="@(() => FilterCommand("New Empty File","devenv",false,"https://youtu.be/mhekwurGktc?t=248"))">New Empty File</a>
				/ <a href="loading" @onclick="@(() => FilterCommand("Add Existing Item","devenv",false,"https://youtu.be/mhekwurGktc?t=304"))">Add Existing Item</a>
				/ <a href="loading" @onclick="@(() => FilterCommand("Add New Scaffolding","devenv",false,"https://youtu.be/mhekwurGktc?t=341"))">Add New Scaffolding</a>
			</li>
			<li>
				<a href="loading" @onclick="@(() => FilterCommand("Move into Brackets","devenv",false,"https://youtu.be/mhekwurGktc?t=430"))">Move into Brackets</a>
				/<a href="loading" @onclick="@(() => FilterCommand("Move into Blank Line","devenv",false,"https://youtu.be/mhekwurGktc?t=430"))">Blank Line</a>
			</li>
			<li><a href="loading" @onclick="@(() => FilterCommand("Move Line","devenv",false,"https://youtu.be/mhekwurGktc?t=501"))">Move Line </a>[Up/Down]</li>
			<li>
				<a href="loading" @onclick="@(() => FilterCommand("Expand Selection","devenv",false,"https://youtu.be/mhekwurGktc?t=547"))">Expand Selection</a>
				[&lt;#&gt;] /
				<a href="loading" @onclick="@(() => FilterCommand("Select Matching","devenv",false,"https://youtu.be/mhekwurGktc?t=583"))">Select Matching</a>
				[&lt;#&gt;]
			</li>
			<li>
				<a href="loading" @onclick="@(() => FilterCommand("Add Class","devenv",false,"https://youtu.be/mhekwurGktc?t=623"))">Add Class</a> &lt;scope&gt; &lt;dictation&gt;
			</li>
			<li>
				<a href="loading" @onclick="@(() => FilterCommand("Add Method","devenv",false,"https://youtu.be/mhekwurGktc?t=623"))">Add Method</a> [ &lt;scope&gt; &lt;DataType&gt; ] &lt;dictation&gt;
			</li>
			<li>
				Add {
				<a href="loading" @onclick="@(() => FilterCommand("Add Parameter","devenv",false,"https://youtu.be/mhekwurGktc?t=623"))">Parameter</a>
				| <a href="loading" @onclick="@(() => FilterCommand("Add Variable","devenv",false,"https://youtu.be/mhekwurGktc?t=623"))">Variable</a>
				} &lt;DataType&gt; &lt;dictation&gt;
			</li>
			<li>
				<a href="loading" @onclick="@(() => FilterCommand("Add Button","devenv",false,"https://youtu.be/mhekwurGktc?t=684"))">Add Button</a> &lt;ButtonClass&gt; &lt;dictation&gt;
			</li>
			<li>
				Add { <a href="loading" @onclick="@(() => FilterCommand("Add Label","devenv",false,"https://youtu.be/mhekwurGktc?t=772"))">Label</a>
				| <a href="loading" @onclick="@(() => FilterCommand("Add Link","devenv",false,"https://youtu.be/mhekwurGktc?t=840"))">Link</a>
				} &lt;dictation&gt;
			</li>
			<li>
				<a href="loading" @onclick="@(() => FilterCommand("Add Input","devenv",false,"https://youtu.be/mhekwurGktc?t=772"))">Add Input</a> &lt;InputType&gt; &lt;dictation&gt;
			</li>
			<li>
				<a href="loading" @onclick="@(() => FilterCommand("Generic","global",false,"https://youtu.be/mhekwurGktc?t=875"))">Generic</a> &lt;GenericsCollection&gt; e.g. Generic I collection
			</li>
			<li>
				<a href="loading" @onclick="@(() => FilterCommand("Quick Actions","devenv",false,"https://youtu.be/mhekwurGktc?t=943"))">Quick Actions</a> (Ctrl+.)
			</li>
		</ul>
	</div>
	<div class="col-md-6">

		<h4>Global</h4>
		<h6> Search/Create Scripts</h6>
		<ul>
			<li>
				<a href="loading" @onclick="@(() => FilterCommand("Browse ","global",false,"https://youtu.be/mhekwurGktc?t=957" ))">Browse</a> [App Name] Scripts &lt;dictation&gt;
			</li>
			<li>
				<a href="loading" @onclick="@(() => FilterCommand("Dragon Script ","global",false,"https://youtu.be/mhekwurGktc?t=1008"))">Dragon Script</a> &lt;dictation&gt;
			</li>
			<li>
				<a href="loading" @onclick="@(() => FilterCommand("New Dragon Scripting Command","global",false,"https://youtu.be/mhekwurGktc?t=1039"))">New Dragon Scripting Command</a> &lt;dictation&gt;
			</li>
			<li>
				New [ <a href="loading" @onclick="@(() => FilterCommand("New Application","global",false,"https://youtu.be/mhekwurGktc?t=1064"))">Application</a>
				| <a href="loading" @onclick="@(() => FilterCommand("New Global","global",false,"https://youtu.be/mhekwurGktc?t=1064"))">Global</a>
				| <a href="loading" @onclick="@(() => FilterCommand("New Window","global",false,"https://youtu.be/mhekwurGktc?t=1064"))">Window</a>
				] [ <a href="loading" @onclick="@(() => FilterCommand("New Mouse","global",false,"https://youtu.be/mhekwurGktc?t=1064"))">Mouse</a>
				| <a href="loading" @onclick="@(() => FilterCommand("New Listing ","global",false,"https://youtu.be/mhekwurGktc?t=1064"))">Listing</a>
				] Command [&lt;dictation&gt;]
			</li>
		</ul>
		<h6> Voice Launcher/Custom IntelliSense Database</h6>
		<ul>
			<li>
				<a href="loading" @onclick="@(() => FilterCommand("Launcher <launcher_categories>","global",false,"https://youtu.be/mhekwurGktc?t=1129"))">Launcher</a> &lt;Categories&gt;
			</li>
			<li>
				<a href="loading" @onclick="@(() => FilterCommand("Create Custom IntelliSense","global",false,"https://youtu.be/mhekwurGktc?t=1186"))">Create Custom IntelliSense</a>
			</li>
			<li>
				<a href="loading" @onclick="@(() => FilterCommand("Edit to Do","global",false,"https://youtu.be/mhekwurGktc?t=1309"))">Edit to Do</a> &lt;dictation&gt;
			</li>
			<li>
				<a href="loading" @onclick="@(() => FilterCommand("Search Union","global",false,"https://youtu.be/mhekwurGktc?t=1337"))">Search Union</a> &lt;dictation&gt;
			</li>
			<li>
				&lt;<a href="loading" @onclick="@(() => FilterCommand("programminglanguage","global",false,"https://youtu.be/mhekwurGktc?t=1282"))">Language</a>&gt; &lt;Category&gt; [&lt;dictation&gt;] /
				<a href="loading" @onclick="@(() => FilterCommand("<categories> <dictation>","global",false,"https://youtu.be/mhekwurGktc?t=248"))">Words</a> &lt;dictation&gt;
			</li>
		</ul>
		<ul>
			<li>
				<a href="loading" @onclick="@(() => FilterCommand("DragonBar","global",false,"https://youtu.be/mhekwurGktc?t=1417"))">Modern Mode/Tray Icon Mode</a>
			</li>
			<li>
				<a href="loading" @onclick="@(() => FilterCommand("Command <commands>","global",false,"https://youtu.be/mhekwurGktc?t=1433"))">Command Close</a> &lt;Explorer/Word/Excel/Access/Windows Speech&gt;
			</li>
			<li>
				<a href="loading" @onclick="@(() => FilterCommand("Cycle Open Apps","global",false,"https://youtu.be/mhekwurGktc?t=1450"))">Cycle Open Apps</a> /
				<a href="loading" @onclick="@(() => FilterCommand("Switch","global",false,"https://youtu.be/mhekwurGktc?t=1450"))">Switch</a>
			</li>
		</ul>
		<h6> Internet Browsers</h6>
		<ul>
			<li>
				<a href="loading" @onclick="@(() => FilterCommand("Overlay Hints","msedge",false,"https://youtu.be/mhekwurGktc?t=1472"))">Overlay Hints</a>
				/ <a href="loading" @onclick="@(() => FilterCommand("Show Hints","msedge",false,"https://youtu.be/mhekwurGktc?t=1472"))">Show Hints</a>
				/ <a href="loading" @onclick="@(() => FilterCommand("Hide Hints","msedge",false,"https://youtu.be/mhekwurGktc?t=1472"))">Hide Hints</a> [Permanent] / Click &lt;1to200&gt;
			</li>
		</ul>
		<h6> Mouse Control</h6>
		<ul>
			<li>
				<a href="loading" @onclick="@(() => FilterCommand("<screen>","global",false,"https://youtu.be/mhekwurGktc?t=1500"))">{Left | Right | (Double|Right) Click | Touch} &lt;Alpha-Zulu/1-7&gt; &lt;Alpha-Tango&gt;</a>
			</li>
			<li>
				<a href="loading" @onclick="@(() => FilterCommand("<screenlocation>","global",false,"https://youtu.be/mhekwurGktc?t=1500"))">Taskbar | Ribbon | Menu</a> &lt;Alpha-Zulu/1-7&gt; [&lt;1-9&gt;]
			</li>
		</ul>
	</div>
</section>
