@page "/commands"

<h3>Popular <span class="oi oi-microphone" aria-hidden="true"></span> Commands</h3>
<div class="row">
	<div class="col-md-6">
		<h4> Visual Studio <a target="_blank" href="https://visualstudio.microsoft.com/"><img src="/images/VisualStudioLogo.png" class="img-thumbnail rounded" width="100" /></a></h4>
		<h6>Navigation</h6>
		<ul>
			<li>
				<a href="commandsetoverview?name=Last&application=devenv">Last</a> [ Edit | Position ] / <a href="commandsetoverview?name=Go%20To%20Containing%20Block&application=devenv">Go To Containing Block</a>
			</li>
			<li>
				<a href="commandsetoverview?name=Navigation&application=devenv">Navigation Menu</a> Navigate { <a href="commandsetoverview?name=Navigate%20Backwards&application=devenv">Backwards</a> | <a href="commandsetoverview?name=Navigate%20Forwards&application=devenv">Forwards</a> }
			</li>
			<li>
				<a href="commandsetoverview?name=Navigate%20To&application=devenv">Navigate To</a> [ &lt;dictation&gt; / Navigate <a href="commandsetoverview?name=Navigate%20Blazor%20Component&application=devenv">Blazor Component</a> | <a href="commandsetoverview?name=Navigate%20View%20Model&application=devenv">View Model</a> | <a href="commandsetoverview?name=Navigate%20Controller&application=devenv">Controller</a> | <a href="commandsetoverview?name=Navigate%20Type&application=devenv">Type</a> | <a href="commandsetoverview?name=Navigate%20Members&application=devenv">Members</a> | <a href="commandsetoverview?name=Navigate%20Symbols&application=devenv">Symbols</a> | <a href="commandsetoverview?name=Navigate%20URL&application=devenv">URL</a> | <a href="commandsetoverview?name=Navigate%20Recent%20Files&application=devenv">Recent Files</a> ]
			</li>
			<li>
				<a href="commandsetoverview?name=Go%20to&application=devenv">Go to</a> [ Definition | Implementation ]
			</li>
			<li>
				Following / Previous { <a href="commandsetoverview?name=Issue&application=devenv">Issue</a> | <a href="commandsetoverview?name=Highlight&application=devenv">Highlight</a> | <a href="commandsetoverview?name=Bookmark&application=devenv">Bookmark</a> | <a href="commandsetoverview?name=Method&application=devenv">Method</a> }
			</li>
			<li>
				{Drop | Swap | Collect} <a href="commandsetoverview?name=Marker&application=devenv">Marker</a> (CodeRush only)
			</li>
			<li>
				<a href="commandsetoverview?name=Jump%20to&application=devenv">Jump to</a> [Symbol | File] / [Next | Previous] <a href="commandsetoverview?name=Tab&application=devenv">Tab</a>
			</li>
			<li>
				<a href="commandsetoverview?name=Search%20Code%20Location&application=devenv">Search Code Location</a>
			</li>

		</ul>
		<h6> Debugging</h6>
		<ul>
			<li>
				Toggle { <a href="commandsetoverview?name=Toggle%20Bookmark&application=devenv">Bookmark</a> | <a href="commandsetoverview?name=Toggle%20Breakpoint&application=devenv">Breakpoint</a>}
			</li>
			<li>
				[Show/View] <a href="commandsetoverview?name=Bookmark%20Window&application=devenv">Bookmark Window</a> | <a href="commandsetoverview?name=Show%20Error%20List&application=devenv">Show Error List</a> | <a href="commandsetoverview?name=Immediate%20Window&application=devenv">Immediate Window</a> | <a href="commandsetoverview?name=Command%20Window&application=devenv">Command Window</a> | <a href="commandsetoverview?name=Close%20Tool%20Window&application=devenv">Close Tool Window</a> | <a href="commandsetoverview?name=Auto%20Hide&application=devenv">Auto Hide</a>
			</li>
			<li>
				<a @onclick="@(() => FilterCommand("Start Application","devenv"))" class="">Start Application (Shift+F5)</a>
				/ Press F5 / {
				<a @onclick="@(() => FilterCommand("Build","devenv"))">Build</a>

				| <a @onclick="@(() => FilterCommand("Clean","devenv"))" class="">Clean</a>
				} {Project |
				<a @onclick="@(() => FilterCommand("Solution Confirm","devenv"))" class="">Solution Confirm</a>}
			</li>
		</ul>
		<h6>Creating/Editing</h6>
		<ul>
			<li>
				<a href="loading" @onclick="@(() => FilterCommand("New Empty File","devenv"))">New Empty File</a>
				/ <a href="loading" @onclick="@(() => FilterCommand("Add Existing Item","devenv"))">Add Existing Item</a>
				/ <a href="loading" @onclick="@(() => FilterCommand("Add New Scaffolding","devenv"))">Add New Scaffolding</a>
			</li>
			<li>
				<a href="loading" @onclick="@(() => FilterCommand("Move into Brackets","devenv"))">Move into Brackets</a>
				/<a href="loading" @onclick="@(() => FilterCommand("Move into Blank Line","devenv"))">Blank Line</a>
			</li>
			<li>
				<a href="loading" @onclick="@(() => FilterCommand("Expand Selection","devenv"))">Expand Selection</a>
				[&lt;#&gt;] /
				<a href="loading" @onclick="@(() => FilterCommand("Select Matching","devenv"))">Select Matching</a>
				[&lt;#&gt;]
			</li>
			<li>
				<a href="loading" @onclick="@(() => FilterCommand("Add Class","devenv"))">Add Class</a> &lt;scope&gt; &lt;dictation&gt;
			</li>
			<li>
				<a href="loading" @onclick="@(() => FilterCommand("Add Method","devenv"))">Add Method</a> [ &lt;scope&gt; &lt;DataType&gt; ] &lt;dictation&gt;
			</li>
			<li>
				Add {
				<a href="loading" @onclick="@(() => FilterCommand("Add Parameter","devenv"))">Parameter</a>
				| <a href="loading" @onclick="@(() => FilterCommand("Add Variable","devenv"))">Variable</a>
				} &lt;DataType&gt; &lt;dictation&gt;
			</li>
			<li>
				<a href="loading" @onclick="@(() => FilterCommand("Add Button","devenv"))">Add Button</a> &lt;ButtonClass&gt; &lt;dictation&gt;
			</li>
			<li>
				Add { <a href="loading" @onclick="@(() => FilterCommand("Add Label","devenv"))">Label</a>
				| <a href="loading" @onclick="@(() => FilterCommand("Add Link","devenv"))">Link</a>
				} &lt;dictation&gt;
			</li>
			<li>
				<a href="loading" @onclick="@(() => FilterCommand("Add Input","devenv"))">Add Input</a> &lt;InputType&gt; &lt;dictation&gt;
			</li>
			<li>
				<a href="loading" @onclick="@(() => FilterCommand("Generic","global"))">Generic</a> &lt;GenericsCollection&gt; e.g. Generic I collection
			</li>
			<li>
				<a href="loading" @onclick="@(() => FilterCommand("Quick Actions","devenv"))">Quick Actions</a> (Ctrl+.)
			</li>
		</ul>
	</div>
	<div class="col-md-6">

		<h4>Global</h4>
		<h6> Search/Create Scripts</h6>
		<ul>
			<li>
				<a href="loading" @onclick="@(() => FilterCommand("Browse ","global"))">Browse</a> [App Name] Scripts &lt;dictation&gt;
			</li>
			<li>
				<a href="loading" @onclick="@(() => FilterCommand("Dragon Script ","global"))">Dragon Script</a> &lt;dictation&gt;
			</li>
			<li>
				<a href="loading" @onclick="@(() => FilterCommand("New Dragon Scripting Command","global"))">New Dragon Scripting Command</a> &lt;dictation&gt;
			</li>
			<li>
				New [ <a href="loading" @onclick="@(() => FilterCommand("New Application","global"))">Application</a>
				| <a href="loading" @onclick="@(() => FilterCommand("New Global","global"))">Global</a>
				| <a href="loading" @onclick="@(() => FilterCommand("New Window","global"))">Window</a>
				] [ <a href="loading" @onclick="@(() => FilterCommand("New Mouse","global"))">Mouse</a>
				| <a href="loading" @onclick="@(() => FilterCommand("New Listing ","global"))">Listing</a>
				] Command [&lt;dictation&gt;]
			</li>
		</ul>
		<h6> Voice Launcher/Custom IntelliSense Database</h6>
		<ul>
			<li>
				<a href="loading" @onclick="@(() => FilterCommand("Launcher <launcher_categories>","global"))">Launcher</a> &lt;Categories&gt;
			</li>
			<li>
				<a href="loading" @onclick="@(() => FilterCommand("Create Custom IntelliSense","global"))">Create Custom IntelliSense</a>
			</li>
			<li>
				<a href="loading" @onclick="@(() => FilterCommand("Edit to Do","global"))">Edit to Do</a> &lt;dictation&gt;
			</li>
			<li>
				<a href="loading" @onclick="@(() => FilterCommand("Search Union","global"))">Search Union</a> &lt;dictation&gt;
			</li>
			<li>
				&lt;<a href="loading" @onclick="@(() => FilterCommand("programminglanguage","global"))">Language</a>&gt; &lt;Category&gt; [&lt;dictation&gt;] / 
					<a href="loading" @onclick="@(() => FilterCommand("<categories> <dictation>","global"))">Words</a> &lt;dictation&gt;
			</li>
		</ul>
		<ul>
			<li>
				<a href="loading" @onclick="@(() => FilterCommand("DragonBar","global"))">Modern Mode/Tray Icon Mode</a>
			</li>
			<li>
				<a href="loading" @onclick="@(() => FilterCommand("Command <commands>","global"))">Command Close</a> &lt;Explorer/Word/Excel/Access/Windows Speech&gt;
			</li>
			<li>
				<a href="loading" @onclick="@(() => FilterCommand("Cycle Open Apps","global"))">Cycle Open Apps</a> /
				<a href="loading" @onclick="@(() => FilterCommand("Switch","global"))">Switch</a>
			</li>
			</ul>
		<h6> Internet Browsers</h6>
		<ul>
			<li>
				<a href="loading" @onclick="@(() => FilterCommand("Overlay Hints","msedge"))">Overlay Hints</a>
				/ <a href="loading" @onclick="@(() => FilterCommand("Show Hints","msedge"))">Show Hints</a>
				/ <a href="loading" @onclick="@(() => FilterCommand("Hide Hints","msedge"))">Hide Hints</a> [Permanent] / Click &lt;1to200&gt;
			</li>
		</ul>
		<h6> Mouse Control</h6>
		<ul>
			<li>
				<a href="loading" @onclick="@(() => FilterCommand("<screen>","global"))">{Left | Right | (Double|Right) Click | Touch} &lt;Alpha-Zulu/1-7&gt; &lt;Alpha-Tango&gt;</a>
			</li>
			<li>
				<a href="loading" @onclick="@(() => FilterCommand("<screenlocation>","global"))">Taskbar | Ribbon | Menu</a> &lt;Alpha-Zulu/1-7&gt; [&lt;1-9&gt;]
			</li>
		</ul>
	</div>
</div>
