@page "/commands"

<h3>Popular <span class="oi oi-microphone" aria-hidden="true"></span> Commands</h3>
<section class="row">
	<div class="col-md-6 background-logo">
		<h4><a target="_blank" href="https://visualstudio.microsoft.com/">Visual Studio</a></h4>
		<h6>Navigation</h6>
		<ul>
			<li>
				<a @onclick="@(() => FilterCommand("Last","devenv"))" class="">Last</a>
				[ Edit | Position ] /
				<a @onclick="@(() => FilterCommand("Go To Containing Block","devenv"))" class="">Go To Containing Block</a>
			</li>
			<li>
				<a @onclick="@(() => FilterCommand("Navigation","devenv"))" class="">Navigation Menu</a> /
				Navigate {
				<a @onclick="@(() => FilterCommand("Navigate Backwards","devenv"))" class="">Backwards</a> |
				<a @onclick="@(() => FilterCommand("Navigate Forwards","devenv"))" class="">Forwards</a>
				}
			</li>
			<li>
				<a @onclick="@(() => FilterCommand("Navigate To","devenv"))" class="">Navigate To</a>
				[ &lt;dictation&gt; ] / Navigate
				<a @onclick="@(() => FilterCommand("Navigate Blazor Component","devenv"))" class="">Blazor Component</a> |
				<a @onclick="@(() => FilterCommand("Navigate View Model","devenv"))" class="">View Model</a> |
				<a @onclick="@(() => FilterCommand("Navigate Controller","devenv"))" class="">Controller</a> |
				<a @onclick="@(() => FilterCommand("Navigate Type","devenv"))" class="">Type</a> |
				<a @onclick="@(() => FilterCommand("Navigate Members","devenv"))" class="">Members</a> |
				<a @onclick="@(() => FilterCommand("Navigate Symbols","devenv"))" class="">Symbols</a> |
				<a @onclick="@(() => FilterCommand("Navigate URL","devenv"))" class="">URL</a> |
				<a @onclick="@(() => FilterCommand("Navigate Recent Files","devenv"))" class="">Recent Files</a>
				]
			</li>
			<li>
				<a @onclick="@(() => FilterCommand("Go to","devenv"))" class="">Go to</a>
				{ Definition | Implementation }
			</li>
			<li>
				Following / Previous {
				<a @onclick="@(() => FilterCommand("Issue","devenv"))" class="">Issue</a> |
				<a @onclick="@(() => FilterCommand("Highlight","devenv"))" class="">Highlight</a> |
				<a @onclick="@(() => FilterCommand("Bookmark","devenv"))" class="">Bookmark</a> |
				<a @onclick="@(() => FilterCommand("Method","devenv"))" class="">Method</a>
				}
			</li>
			<li>
				{Drop | Swap | Collect}
				<a @onclick="@(() => FilterCommand("Marker","devenv"))" class="">Marker</a>
				(<a target="_blank" href="https://www.devexpress.com/products/coderush/">CodeRush</a> only)
			</li>
			<li>
				<a @onclick="@(() => FilterCommand("Jump to","devenv"))" class="">Jump to</a>
				[Symbol | File] / [Next | Previous]
				<a @onclick="@(() => FilterCommand("Tab","devenv"))" class="">Tab</a>
			</li>
			<li>
				<a @onclick="@(() => FilterCommand("Find","devenv",true))" class="">Find {Following/Previous} &lt;dictation&gt;</a>
				<a @onclick="@(() => FilterCommand("Search Code Location","devenv"))" class=""> / Search Code Location</a>
				<br>
				<a @onclick="@(() => FilterCommand("Use Regular Expression","devenv"))" class="">Use Regular Expressions</a>
				
			</li>
			<li>
				<a @onclick="@(() => FilterCommand("Select Tag","devenv"))" class="">Select Tag</a>&lt;htmltags&gt;
			</li>

		</ul>
		<h6> Debugging</h6>
		<ul>
			<li>
				Toggle {
				<a @onclick="@(() => FilterCommand("Toggle Bookmark","devenv"))" class="">Toggle Bookmark</a> |
				<a @onclick="@(() => FilterCommand("Breakpoint","devenv"))" class="">Breakpoint</a> }
			</li>
			<li>
				[Show/View]  |
				<a @onclick="@(() => FilterCommand("Bookmark Window","devenv"))" class="">Bookmark Window</a> |
				<a @onclick="@(() => FilterCommand("Show Error List","devenv"))" class="">Show Error List</a> |

				<a @onclick="@(() => FilterCommand("Immediate Window","devenv"))" class="">Immediate Window</a> |

				<a @onclick="@(() => FilterCommand("Command Window","devenv"))" class="">Command Window</a> |
				<a @onclick="@(() => FilterCommand("Close Tool Window","devenv"))" class="">Close Tool Window</a> |
				<a @onclick="@(() => FilterCommand("Auto Hide","devenv"))" class="">Auto Hide</a>
			</li>
			<li>
				<a @onclick="@(() => FilterCommand("Start Application","devenv"))" class="">Start Application (Shift+F5)</a>
				/ Press F5 / {
				<a @onclick="@(() => FilterCommand("Build","devenv"))">Build</a>

				| <a @onclick="@(() => FilterCommand("Clean","devenv"))" class="">Clean</a>
				} {Project |
				<a @onclick="@(() => FilterCommand("Solution Confirm","devenv"))" class="">Solution Confirm</a>}
			</li>
		</ul>
		<h6>Creating/Editing</h6>
		<ul>
			<li>
				<a href="loading" @onclick="@(() => FilterCommand("New Empty File","devenv"))">New Empty File</a>
				/ <a href="loading" @onclick="@(() => FilterCommand("Add Existing Item","devenv"))">Add Existing Item</a>
				/ <a href="loading" @onclick="@(() => FilterCommand("Add New Scaffolding","devenv"))">Add New Scaffolding</a>
			</li>
			<li>
				<a href="loading" @onclick="@(() => FilterCommand("Move into Brackets","devenv"))">Move into Brackets</a>
				/<a href="loading" @onclick="@(() => FilterCommand("Move into Blank Line","devenv"))">Blank Line</a>
			</li>
			<li>
				<a href="loading" @onclick="@(() => FilterCommand("Expand Selection","devenv"))">Expand Selection</a>
				[&lt;#&gt;] /
				<a href="loading" @onclick="@(() => FilterCommand("Select Matching","devenv"))">Select Matching</a>
				[&lt;#&gt;]
			</li>
			<li>
				<a href="loading" @onclick="@(() => FilterCommand("Add Class","devenv"))">Add Class</a> &lt;scope&gt; &lt;dictation&gt;
			</li>
			<li>
				<a href="loading" @onclick="@(() => FilterCommand("Add Method","devenv"))">Add Method</a> [ &lt;scope&gt; &lt;DataType&gt; ] &lt;dictation&gt;
			</li>
			<li>
				Add {
				<a href="loading" @onclick="@(() => FilterCommand("Add Parameter","devenv"))">Parameter</a>
				| <a href="loading" @onclick="@(() => FilterCommand("Add Variable","devenv"))">Variable</a>
				} &lt;DataType&gt; &lt;dictation&gt;
			</li>
			<li>
				<a href="loading" @onclick="@(() => FilterCommand("Add Button","devenv"))">Add Button</a> &lt;ButtonClass&gt; &lt;dictation&gt;
			</li>
			<li>
				Add { <a href="loading" @onclick="@(() => FilterCommand("Add Label","devenv"))">Label</a>
				| <a href="loading" @onclick="@(() => FilterCommand("Add Link","devenv"))">Link</a>
				} &lt;dictation&gt;
			</li>
			<li>
				<a href="loading" @onclick="@(() => FilterCommand("Add Input","devenv"))">Add Input</a> &lt;InputType&gt; &lt;dictation&gt;
			</li>
			<li>
				<a href="loading" @onclick="@(() => FilterCommand("Generic","global"))">Generic</a> &lt;GenericsCollection&gt; e.g. Generic I collection
			</li>
			<li>
				<a href="loading" @onclick="@(() => FilterCommand("Quick Actions","devenv"))">Quick Actions</a> (Ctrl+.)
			</li>
		</ul>
	</div>
	<div class="col-md-6">

		<h4>Global</h4>
		<h6> Search/Create Scripts</h6>
		<ul>
			<li>
				<a href="loading" @onclick="@(() => FilterCommand("Browse ","global"))">Browse</a> [App Name] Scripts &lt;dictation&gt;
			</li>
			<li>
				<a href="loading" @onclick="@(() => FilterCommand("Dragon Script ","global"))">Dragon Script</a> &lt;dictation&gt;
			</li>
			<li>
				<a href="loading" @onclick="@(() => FilterCommand("New Dragon Scripting Command","global"))">New Dragon Scripting Command</a> &lt;dictation&gt;
			</li>
			<li>
				New [ <a href="loading" @onclick="@(() => FilterCommand("New Application","global"))">Application</a>
				| <a href="loading" @onclick="@(() => FilterCommand("New Global","global"))">Global</a>
				| <a href="loading" @onclick="@(() => FilterCommand("New Window","global"))">Window</a>
				] [ <a href="loading" @onclick="@(() => FilterCommand("New Mouse","global"))">Mouse</a>
				| <a href="loading" @onclick="@(() => FilterCommand("New Listing ","global"))">Listing</a>
				] Command [&lt;dictation&gt;]
			</li>
		</ul>
		<h6> Voice Launcher/Custom IntelliSense Database</h6>
		<ul>
			<li>
				<a href="loading" @onclick="@(() => FilterCommand("Launcher <launcher_categories>","global"))">Launcher</a> &lt;Categories&gt;
			</li>
			<li>
				<a href="loading" @onclick="@(() => FilterCommand("Create Custom IntelliSense","global"))">Create Custom IntelliSense</a>
			</li>
			<li>
				<a href="loading" @onclick="@(() => FilterCommand("Edit to Do","global"))">Edit to Do</a> &lt;dictation&gt;
			</li>
			<li>
				<a href="loading" @onclick="@(() => FilterCommand("Search Union","global"))">Search Union</a> &lt;dictation&gt;
			</li>
			<li>
				&lt;<a href="loading" @onclick="@(() => FilterCommand("programminglanguage","global"))">Language</a>&gt; &lt;Category&gt; [&lt;dictation&gt;] /
				<a href="loading" @onclick="@(() => FilterCommand("<categories> <dictation>","global"))">Words</a> &lt;dictation&gt;
			</li>
		</ul>
		<ul>
			<li>
				<a href="loading" @onclick="@(() => FilterCommand("DragonBar","global"))">Modern Mode/Tray Icon Mode</a>
			</li>
			<li>
				<a href="loading" @onclick="@(() => FilterCommand("Command <commands>","global"))">Command Close</a> &lt;Explorer/Word/Excel/Access/Windows Speech&gt;
			</li>
			<li>
				<a href="loading" @onclick="@(() => FilterCommand("Cycle Open Apps","global"))">Cycle Open Apps</a> /
				<a href="loading" @onclick="@(() => FilterCommand("Switch","global"))">Switch</a>
			</li>
		</ul>
		<h6> Internet Browsers</h6>
		<ul>
			<li>
				<a href="loading" @onclick="@(() => FilterCommand("Overlay Hints","msedge"))">Overlay Hints</a>
				/ <a href="loading" @onclick="@(() => FilterCommand("Show Hints","msedge"))">Show Hints</a>
				/ <a href="loading" @onclick="@(() => FilterCommand("Hide Hints","msedge"))">Hide Hints</a> [Permanent] / Click &lt;1to200&gt;
			</li>
		</ul>
		<h6> Mouse Control</h6>
		<ul>
			<li>
				<a href="loading" @onclick="@(() => FilterCommand("<screen>","global"))">{Left | Right | (Double|Right) Click | Touch} &lt;Alpha-Zulu/1-7&gt; &lt;Alpha-Tango&gt;</a>
			</li>
			<li>
				<a href="loading" @onclick="@(() => FilterCommand("<screenlocation>","global"))">Taskbar | Ribbon | Menu</a> &lt;Alpha-Zulu/1-7&gt; [&lt;1-9&gt;]
			</li>
		</ul>
	</div>
</section>
