
@page "/idiosyncrasies"
<div class="row">
    <div class="col-md-7">
        <h4 class="page-title m-1">@Title</h4>
    </div>
    <div class="col-md-4">
        <input @ref="SearchInput" accesskey="i" class="form-control my-1" style="float:right" @bind="@SearchTerm" 
        @bind:event="oninput" id="SearchInput" name="SearchTerm" placeholder="Filter by Find String/Replace With (Alt+I)" />
    </div> 
</div>

@if (FilteredIdiosyncrasyDTO == null && _loadFailed == true)
{
    <h2 class="text-danger">The data failed to load please try again in a little while..</h2>
    <button class="btn btn-danger" type="button" @onclick="@( () => LoadData() )">Reload</button>
    <h6 class="text-danger">@ExceptionMessage</h6>
}
else if (FilteredIdiosyncrasyDTO == null)
{
    <div style="display:normal;margin:auto" class="loader"></div>
}
else if (FilteredIdiosyncrasyDTO.Count == 0)
{
    <p>No Idiosyncrasy match the criteria</p>
    <button @onclick="AddNewIdiosyncrasyAsync" class="btn btn-lg btn-outline-success">Add Record <i class="fas fa-plus"></i></button>
}
else
{
    <table style="font-size:xx-large" class="table table-bordered table-striped table-sm table-responsive-sm">
        <thead>
            <tr>
              <th>
                    <button class="btn btn-sm" @onclick="@(() => SortIdiosyncrasy("FindString"))">
                        <i class="fas fa-sort-alpha-up"></i>
                    </button>
                    <button class="btn btn-sm" @onclick="@(() => SortIdiosyncrasy("FindString Desc"))">
                        <i class="fas fa-sort-alpha-up-alt"></i>
                    </button>
                    Find String
                </th>
              <th>
                    <button class="btn btn-sm" @onclick="@(() => SortIdiosyncrasy("ReplaceWith"))">
                        <i class="fas fa-sort-alpha-up"></i>
                    </button>
                    <button class="btn btn-sm" @onclick="@(() => SortIdiosyncrasy("ReplaceWith Desc"))">
                        <i class="fas fa-sort-alpha-up-alt"></i>
                    </button>
                    Replace With
                </th>
                <th>String Formatting Method</th>
                <th>
                    <button accesskey="+" @onclick="AddNewIdiosyncrasyAsync" class="btn btn-outline-success btn-lg">
                        <i class="fas fa-plus"></i>
                    </button>
                </th>
            </tr>
        </thead>
        <tbody>
            @foreach (var idiosyncrasy in FilteredIdiosyncrasyDTO)
            {
                <tr>
                    <td>@idiosyncrasy.FindString.Replace(" ","•")</td>
                    <td>@idiosyncrasy.ReplaceWith</td>
                    <td>@idiosyncrasy.StringFormattingMethod</td>
                    <td class="btn-group">
                        <button class="btn btn-lg btn-outline-warning" @onclick="@(() => EditIdiosyncrasyAsync(idiosyncrasy.Id))">
                            <i class="fas fa-edit"></i>
                        </button>
                        <button class="btn btn-lg btn-outline-danger" @onclick="@(() => DeleteIdiosyncrasyAsync(idiosyncrasy.Id))">
                            <i class="fas fa-trash"></i>
                        </button>
                    </td>
                </tr>
            }
        </tbody>
    </table>
}


