@page "/savedmouseposition"
<div style="min-width:80vw">
    <EditForm Model="@SavedMousePositionDTO" OnValidSubmit="HandleValidSubmit">
        <DataAnnotationsValidator />
        @*<ValidationSummary />*@
        @if (SavedMousePositionDTO.Id > 0)
        {
            <span class="text-info m-1">@SavedMousePositionDTO.Id</span>
        }
        <div class="row">
            <div class="col-12">
                <div class="form-group">
                    <label for="NamedLocation">Named Location: </label> <i class="text-danger fa">*</i>
                    <InputTextArea rows="2" id="NamedLocation" class="form-control" @bind-Value="@SavedMousePositionDTO.NamedLocation"
                               placeholder="Enter Named Location"></InputTextArea>
                    <ValidationMessage For="@(() => SavedMousePositionDTO.NamedLocation)" />
                </div>
                <div class="form-group">
                    <label for="X">X: </label> <i class="text-danger fa">*</i>
                    <InputNumber id="X" class="form-control" @bind-Value="@SavedMousePositionDTO.X"
                                 placeholder="Enter X"></InputNumber>
                    <ValidationMessage For="@(() => SavedMousePositionDTO.X)" />
                </div>
                <div class="form-group">
                    <label for="Y">Y: </label> <i class="text-danger fa">*</i>
                    <InputNumber id="Y" class="form-control" @bind-Value="@SavedMousePositionDTO.Y"
                                 placeholder="Enter Y"></InputNumber>
                    <ValidationMessage For="@(() => SavedMousePositionDTO.Y)" />
                </div>
            </div>
            <div class="col-12">
                 @* Move here for the next display column if required *@
            </div>
        </div>
        <hr>
        <div class="btn-group" style="float:right">
            <a accesskey="c" class="btn btn-lg btn-outline-primary" @onclick="@Close"><u>C</u>ancel</a>
            <button @TaskRunning accesskey="s" type="submit" class="btn btn-lg btn-primary"><u>S</u>ave Record</button>
        </div>
    </EditForm>
</div>
