@page "/spokenform/{Id:int?}"
<div style="min-width:80vw">
<h1>@Title</h1>
    <EditForm Model="@SpokenFormDTO" OnValidSubmit="HandleValidSubmit">
        <DataAnnotationsValidator />
        @*<ValidationSummary />*@
        @if (SpokenFormDTO.Id > 0)
        {
            <span class="text-info m-1">@SpokenFormDTO.Id</span>
        }
        <div class="row">
            <div class="col-12">
                <div class="form-group">
                    <label for="SpokenFormText">Spoken Form Text: </label> <i class="text-danger fa">*</i>
                    <InputTextArea rows="2" id="SpokenFormText" class="form-control" @bind-Value="@SpokenFormDTO.SpokenFormText"
                         @onblur="@(() => CallChangeAsync("SpokenFormText"))" placeholder="Enter Spoken Form Text"></InputTextArea>
                    <ValidationMessage For="@(() => SpokenFormDTO.SpokenFormText)" />
                </div>
@*                <div class="form-group">
                    <label for="WindowsSpeechVoiceCommandId">Windows Speech Voice Command Id: </label> <i class="text-danger fa">*</i>
                    <InputNumber id="WindowsSpeechVoiceCommandId" class="form-control" @bind-Value="@SpokenFormDTO.WindowsSpeechVoiceCommandId"
                                 placeholder="Enter Windows Speech Voice Command Id"></InputNumber>
                    <ValidationMessage For="@(() => SpokenFormDTO.WindowsSpeechVoiceCommandId)" />
                </div>
*@            </div>
            <div class="col-12">
                 @* Move here for the next display column if required *@
            </div>
        </div>
        <hr>
        <div class="btn-group" style="float:right">
            <a accesskey="c" class="btn btn-lg btn-outline-primary" @onclick="@CloseAsync"><u>C</u>ancel</a>
            <button @TaskRunning accesskey="s" type="submit" class="btn btn-lg btn-primary"><u>S</u>ave Record</button>
        </div>
    </EditForm>
</div>
