@page "/customwindowsspeechcommands"

@if (FilteredCustomWindowsSpeechCommandDTO == null && _loadFailed == true)
{
    <h2 class="text-danger">The data failed to load please try again in a little while..</h2>
    <button class="btn btn-danger" type="button" @onclick="@( () => LoadData() )">Reload</button>
    <h6 class="text-danger">@ExceptionMessage</h6>
}
else if (FilteredCustomWindowsSpeechCommandDTO == null)
{
    <div style="display:normal;margin:auto" class="loader"></div>
}
else if (FilteredCustomWindowsSpeechCommandDTO.Count == 0)
{
    <button @onclick="AddNewCustomWindowsSpeechCommandAsync" class="btn btn-success btn-sm"><i class="fas fa-plus"></i></button>
}
else
{
    <table style="font-size:x-small" class="table table-bordered table-striped table-sm table-responsive-sm">
        <thead>
            <tr>
                <th>Wait Time</th>
                <th>
                    Text To Enter
                </th>
                <th>Key Down</th>
                <th>Control</th>
                <th>Alt</th>
                <th>Shift</th>
                <th>Key Press</th>
                <th>Mouse Command</th>
                <th>Process Start</th>
                <th>Command Line Args</th>
                <th>
                    <button accesskey="x" @onclick="AddNewCustomWindowsSpeechCommandAsync" class="btn btn-success btn-sm">
                        <i class="fas fa-plus"></i>
                    </button>
                </th>
            </tr>
        </thead>
        <tbody>
            @foreach (var customWindowsSpeechCommand in FilteredCustomWindowsSpeechCommandDTO)
            {
                <tr>
                    <td>@customWindowsSpeechCommand.WaitTime</td>
                    <td>@customWindowsSpeechCommand.TextToEnter</td>
                    <td>
                        @if (customWindowsSpeechCommand.KeyDownValue != WindowsInput.Native.VirtualKeyCode.NONAME)
                        {
                            @customWindowsSpeechCommand.KeyDownValue
                        }
                    </td>
                    <td>
                        @if (customWindowsSpeechCommand.ControlKey)
                        {
                            <i class="fa-solid fa-square-check"></i>
                        }
                        else
                        {
                            <i class="fa-solid fa-square"></i>
                        }
                    </td>
                    <td>
                        @if (customWindowsSpeechCommand.AlternateKey)
                        {
                            <i class="fa-solid fa-square-check"></i>
                        }
                        else
                        {
                            <i class="fa-solid fa-square"></i>
                        }
                    </td>
                    <td>
                        @if (customWindowsSpeechCommand.ShiftKey)
                        {
                            <i class="fa-solid fa-square-check"></i>
                        }
                        else
                        {
                            <i class="fa-solid fa-square"></i>
                        }
                    </td>

                    <td>
                        @if (customWindowsSpeechCommand.KeyPressValue != WindowsInput.Native.VirtualKeyCode.NONAME)
                        {
                            @customWindowsSpeechCommand.KeyPressValue
                        }

                    </td>
                    <td>@customWindowsSpeechCommand.MouseCommand</td>
                    <td>@customWindowsSpeechCommand.ProcessStart</td>
                    <td>@customWindowsSpeechCommand.CommandLineArguments</td>
                    <td class="btn-group">
                        <button class="btn btn-sm btn-warning" @onclick="@(() => EditCustomWindowsSpeechCommandAsync(customWindowsSpeechCommand.Id))">
                            <i class="fas fa-edit"></i>
                        </button>
                        <button class="btn btn-sm btn-danger" @onclick="@(() => DeleteCustomWindowsSpeechCommandAsync(customWindowsSpeechCommand.Id))">
                            <i class="fas fa-trash"></i>
                        </button>
                    </td>
                </tr>
            }
        </tbody>
    </table>
}
