@page "/intellisense/{customIntellisenseId:int}"
@page "/intellisense"


@inject CustomIntellisenseService CustomIntellisenseService
@inject CategoryService CategoryService
@inject LanguageService LanguageService
@inject GeneralLookupService GeneralLookupService

@inject IJSRuntime JSRuntime

<div class="text-danger">
	@Message
</div>
<div>
	<strong>Custom IntelliSense (@Intellisense?.Id)</strong>
	@if (Intellisense != null)
	{
		<span> Example Commands </span><code>@Intellisense?.Language?.LanguageName @Intellisense?.Category?.CategoryName ... or Show List @Intellisense?.DisplayValue</code>
	}
</div>
@if (Intellisense == null && _loadFailed)
{
	<h1 class="text-danger">The data failed to load please try again :( </h1>
}
else if (Intellisense == null)
{
	<text>Loading.</text>
	<div style="display:normal;margin:auto" class="loader"></div>
}
else
{
	<div class="row">
		<div class="col-md-12">
			<EditForm Model="@Intellisense" OnValidSubmit="HandleValidSubmit">
				<DataAnnotationsValidator />
				@*<ValidationSummary />*@
				@if (customValidationErrors != null)
				{
					<ul class="text-danger">
						@foreach (var item in customValidationErrors)
						{
							<li>@item</li>
						}
					</ul>
				}
			<div class="form-field row">
				<label for="@Intellisense.LanguageId" class="col-md-3"> Language Name (Alt+0)</label>
					<InputSelect accesskey="0" class="form-control col-md-9" @bind-Value="Intellisense.LanguageId">
						<option value="">-</option>
						@if (Languages != null)
							{
							@foreach (var language in Languages)
								{
								@if (Intellisense.LanguageId== language.Id)
									{
									<option selected value="@language.Id">@language.LanguageName</option> }
									else
									{
									<option value="@language.Id">@language.LanguageName</option>
									}
								}
							}
					</InputSelect>

				<ValidationMessage For="@(() => Intellisense.LanguageId)" />
			</div>
				<div class="form-field row">
					<label for="@Intellisense.CategoryId" class="col-md-3"> Category (Alt+1)</label>
						<InputSelect accesskey="1" class="form-control col-md-9" @bind-Value="Intellisense.CategoryId">
							<option value="">-</option>
							@if (Categories != null)
								{
								@foreach (var category in Categories)
									{
									@if (Intellisense.CategoryId== category.Id)
										{
										<option selected value="@category.Id">@category.CategoryName</option> }
										else
										{
										<option value="@category.Id">@category.CategoryName</option>
										}
									}
								}
						</InputSelect>
						<ValidationMessage For="@(() => Intellisense.CategoryId)" />
				</div>
				<div class="form-field row">
					<label for="@Intellisense.DisplayValue" class="col-md-3"> Display Value (Alt+2)</label>
					<InputText accesskey="2" class="col-md-9 form-control" placeholder="Enter the Display Value" @bind-Value="Intellisense.DisplayValue"
							   @onblur="@(e => CallChangeAsync(Intellisense.Id.ToString()+ "DisplayValue"))" id="@(Intellisense.Id.ToString() + "DisplayValue")"></InputText>
					<ValidationMessage For="@(() => Intellisense.DisplayValue)" />
				</div>
				<div class="form-field row">
					<label for="@Intellisense.SendKeysValue" class="col-md-3"> Sendkeys Value (Alt+3)</label>
					<InputTextArea accesskey="3" style="min-height: 200px" class="col-md-9 form-control" placeholder="Enter Send Keys Value" @bind-Value="Intellisense.SendKeysValue" rows="6"
								   @onblur="@(e => CallChangeAsync(Intellisense.Id.ToString()+ "SendKeysValue"))" id="@(Intellisense.Id.ToString() + "SendKeysValue")">
					</InputTextArea>
					<ValidationMessage For="@(() => Intellisense.SendKeysValue)" />
				</div>
				<div class="form-field row">
					<label for="@Intellisense.DeliveryType" class="col-md-3"> Delivery Type (Alt+4)</label>
					<InputSelect accesskey="4" class="form-control col-md-9" @bind-Value="Intellisense.DeliveryType">
						<option value="">-</option>
						@if (GeneralLookups != null)
							{
							@foreach (var lookup in GeneralLookups)
								{
								@if (Intellisense.DeliveryType == lookup.ItemValue)
									{
									<option selected value="@lookup.ItemValue">@lookup.ItemValue</option>
									}
									else
									{
									<option value="@lookup.ItemValue">@lookup.ItemValue</option>
									}
								}
							}
					</InputSelect>
					<ValidationMessage For="@(() => Intellisense.DeliveryType)" />
				</div>
				<div class="form-field row">
					<label for="@Intellisense.Remarks" class="col-md-3"> Remarks</label>
					<InputText class="col-md-9 form-control" placeholder="Enter the Remarks" id="Remarks" @bind-Value="Intellisense.Remarks"></InputText>
					<ValidationMessage For="@(() => Intellisense.Remarks)" />
				</div>

				<div class="form-field row">
					<div class="col-md-12 btn-group">
						<button accesskey="s" class="btn btn-lg btn-success" type="submit"><u>S</u>ave <i class="fas fa-save"></i></button>
						<button accesskey="g" class="btn btn-outline-primary btn-lg ml-auto" @onclick="@GoBackAsync">
							<u>G</u>o Back <i class="fas fa-arrow-left"></i>
						</button>
					</div>
				</div>
			</EditForm>
		</div>
	</div>
	@if (Intellisense?.Id > 0)
	{
		<AdditionalCommandOverview CustomIntelliSenseId="Intellisense.Id" />
	}
}

