@page "/grammaritem/{Id:int?}"
<div style="min-width:80vw">
    <EditForm Model="@GrammarItemDTO" OnValidSubmit="HandleValidSubmit">
        <DataAnnotationsValidator />
        @*<ValidationSummary />*@
        @if (GrammarItemDTO.Id > 0)
        {
            <span class="text-info m-1">@GrammarItemDTO.Id</span>
        }
        <div class="row">
            <div class="col-12">
                <div class="form-group">
                    <label for="GrammarNameId">Grammar Name Id: </label> <i class="text-danger fa">*</i>
                    <InputNumber id="GrammarNameId" class="form-control" @bind-Value="@GrammarItemDTO.GrammarNameId"
                                 placeholder="Enter Grammar Name Id"></InputNumber>
                    <ValidationMessage For="@(() => GrammarItemDTO.GrammarNameId)" />
                </div>
                <div class="form-group">
                    <label for="Value">Value: </label> <i class="text-danger fa">*</i>
                    <InputTextArea rows="2" id="Value" class="form-control" @bind-Value="@GrammarItemDTO.Value"
                               placeholder="Enter Value"></InputTextArea>
                    <ValidationMessage For="@(() => GrammarItemDTO.Value)" />
                </div>
            </div>
            <div class="col-12">
                 @* Move here for the next display column if required *@
            </div>
        </div>
        <hr>
        <div class="btn-group" style="float:right">
            <a accesskey="c" class="btn btn-lg btn-outline-primary" @onclick="@Close"><u>C</u>ancel</a>
            <button @TaskRunning accesskey="s" type="submit" class="btn btn-lg btn-primary"><u>S</u>ave Record</button>
        </div>
    </EditForm>
</div>
