@page "/idiosyncrasy/{Id:int?}"
<div style="min-width:80vw">
    <EditForm Model="@IdiosyncrasyDTO" OnValidSubmit="HandleValidSubmit">
        <DataAnnotationsValidator />
        @*<ValidationSummary />*@
        @if (IdiosyncrasyDTO.Id > 0)
        {
            <span class="text-info m-1">@IdiosyncrasyDTO.Id</span>
        }
        <div class="row">
            <div class="col-12">
                <div class="form-group">
                    <label for="FindString">Find String: </label>                    <InputTextArea rows="2" id="FindString" class="form-control" @bind-Value="@IdiosyncrasyDTO.FindString"
                               placeholder="Enter Find String"></InputTextArea>
                    <ValidationMessage For="@(() => IdiosyncrasyDTO.FindString)" />
                </div>
                <div class="form-group">
                    <label for="ReplaceWith">Replace With: </label>                    <InputTextArea rows="2" id="ReplaceWith" class="form-control" @bind-Value="@IdiosyncrasyDTO.ReplaceWith"
                               placeholder="Enter Replace With"></InputTextArea>
                    <ValidationMessage For="@(() => IdiosyncrasyDTO.ReplaceWith)" />
                </div>
            </div>
            <div class="col-12">
                 @* Move here for the next display column if required *@
            </div>
        </div>
        <hr>
        <div class="btn-group" style="float:right">
            <a accesskey="c" class="btn btn-lg btn-outline-primary" @onclick="@Close"><u>C</u>ancel</a>
            <button @TaskRunning accesskey="s" type="submit" class="btn btn-lg btn-primary"><u>S</u>ave Record</button>
        </div>
    </EditForm>
</div>
