@*@page "/launcher/{Id:int?}"*@
<div style="min-width:80vw">
    <EditForm Model="@LauncherDTO" OnValidSubmit="HandleValidSubmit">
        <DataAnnotationsValidator />
        @*<ValidationSummary />*@
        @if (LauncherDTO.Id > 0)
        {
            <span class="text-info m-1">@LauncherDTO.Id</span>
        }
        <div class="row">
            <div class="col-12">
                <div class="form-group">
                    <label for="Name">Name:</label> <i class="text-danger fa">*</i>

                    <InputText id="Name" class="form-control" @bind-Value="@LauncherDTO.Name"
                               placeholder="Enter Name"></InputText>
                    <ValidationMessage For="@(() => LauncherDTO.Name)" />
                </div>
                <div class="form-group">
                    <label for="CommandLine">Command Line: </label>                    <InputTextArea rows="2" id="CommandLine" class="form-control" @bind-Value="@LauncherDTO.CommandLine"
                               placeholder="Enter Command Line"></InputTextArea>
                    <ValidationMessage For="@(() => LauncherDTO.CommandLine)" />
                </div>
                <div class="form-group">
                    <label for="CategoryId">Category: </label> <i class="text-danger fa">*</i>
                    <InputSelect id="category" class="form-control col-sm-8" @bind-Value="@LauncherDTO.CategoryId">
                        @foreach (var category in _categories)
                        {
                            <option value="@category.Id">@category.CategoryName</option>
                        }
                    </InputSelect>
                    <ValidationMessage For="@(() => LauncherDTO.CategoryId)" />
                </div>
                <div class="form-group">
                    <label for="ComputerId">Computer ID: </label>                    <InputNumber id="ComputerId" class="form-control" @bind-Value="@LauncherDTO.ComputerId"
                                 placeholder="Enter Computer ID"></InputNumber>
                    <ValidationMessage For="@(() => LauncherDTO.ComputerId)" />
                </div>

            </div>
            
            <div class="col-12">
                 @* Move here for the next display column if required *@
            </div>
        </div>
        <hr>
        <div class="btn-group" style="float:right">
            <a accesskey="c" class="btn btn-lg btn-outline-primary" @onclick="@Close"><u>C</u>ancel</a>
            <button @TaskRunning accesskey="s" type="submit" class="btn btn-lg btn-primary"><u>S</u>ave Record</button>
        </div>
    </EditForm>
</div>
