@page "/multiplelauncherbridge"
@page "/multiplelauncherbridge/{MultipleLauncherBridgeId}"
@using VoiceLauncher.Shared

<div class="entity-edit">
    @if (LauncherMultipleLauncherBridge.Id > 0)
    {
        <h3 class="page-title">Edit Multiple Launcher/Launcher Link</h3>
    }
    else
    {
        <h3 class="page-title">Add New Multiple Launcher/Launcher Link</h3>
    }

    <EditForm Model="@LauncherMultipleLauncherBridge" OnValidSubmit="@HandleValidSubmit">
        <DataAnnotationsValidator />
        <ValidationSummary />
        <div class="form-group row">
            <label for="title" class="col-sm-3">Launcher Item: </label>
            <InputSelect id="LauncherId" class="form-select border border-warning col-sm-8" @bind-Value=@LauncherMultipleLauncherBridge.LauncherId>
                @if (Launchers != null)
                {
                    @foreach (var launcher in Launchers)
                    {
                        <option value="@launcher.Id">@launcher.Name</option>
                    }
                }
            </InputSelect>

        </div>

        <div class="form-group row">
            <label for="MultipleLaunchers" class="col-sm-3">Multiple Launchers: </label>
            <InputSelect id="MultipleLauncherId" class="form-select border border-warning col-sm-8" @bind-Value="@LauncherMultipleLauncherBridge.MultipleLauncherId">
                @foreach (var ml in MultipleLaunchers)
                {
                    <option value="@ml.Id">@ml.Description</option>
                }
            </InputSelect>
        </div>

        <br />
        <div class="btn-group">
            <button type="submit" class="btn btn-primary btn-lg edit-btn">Save Multiple Launcher/Launcher Link</button>
            @if (LauncherMultipleLauncherBridge.Id > 0)
            {
                <button @onclick="ShowDeleteConfirmation" type="button" class="btn btn-danger btn-lg">Delete</button>
            }
        </div>
    </EditForm>
</div>

<TemplatedDialog Show="ShowDialog">
    <ConfirmDialog Message="Please confirm you wish to Delete this MultipleLauncherBridge!"
                   Title="Please confirm you wish to delete the expense"
                   OnCancel="CancelDelete" OnConfirm="DeleteLauncherMultipleLauncherBridge">
    </ConfirmDialog>
</TemplatedDialog>

