@page "/windowsspeechvoicecommand/{Id:int?}"
<div style="min-width:80vw">
    
    <EditForm Model="@WindowsSpeechVoiceCommandDTO" OnValidSubmit="HandleValidSubmit">
        <DataAnnotationsValidator />
        @*<ValidationSummary />*@
        @if (WindowsSpeechVoiceCommandDTO.Id > 0)
        {
            <span class="text-info m-1">@WindowsSpeechVoiceCommandDTO.Id</span>
        }
        <div class="row">
            <div class="col-12">
                <div class="form-group">
                    <label for="SpokenCommand">Spoken Command: </label> <i class="text-danger fa">*</i>
                    <InputTextArea rows="2" id="SpokenCommand" class="form-control" @bind-Value="@WindowsSpeechVoiceCommandDTO.SpokenCommand"
                                   @onblur="@(() => CallChangeAsync("SpokenCommand"))" placeholder="Enter Spoken Command"></InputTextArea>
                    <ValidationMessage For="@(() => WindowsSpeechVoiceCommandDTO.SpokenCommand)" />
                </div>
                <div class="form-group">
                    <label for="Description">Description: </label>
                    <InputTextArea rows="2" id="Description" class="form-control" @bind-Value="@WindowsSpeechVoiceCommandDTO.Description"
                                   @onblur="@(() => CallChangeAsync("Description"))" placeholder="Enter Description"></InputTextArea>
                    <ValidationMessage For="@(() => WindowsSpeechVoiceCommandDTO.Description)" />
                </div>
                <div class="form-group">
                    <label for="ApplicationName">Application Name: </label>
                    <InputText id="ApplicationName" class="form-control" @bind-Value="@WindowsSpeechVoiceCommandDTO.ApplicationName"
                                   @onblur="@(() => CallChangeAsync("ApplicationName"))" placeholder="Enter ApplicationName"></InputText>
                    <ValidationMessage For="@(() => WindowsSpeechVoiceCommandDTO.ApplicationName)" />
                </div>
            </div>
        </div>
        <hr>
        <div class="btn-group" style="float:right">
            <a accesskey="c" class="btn btn-lg btn-outline-primary" @onclick="@Close"><u>C</u>ancel</a>
            <button @TaskRunning accesskey="s" type="submit" class="btn btn-lg btn-primary"><u>S</u>ave Record</button>
        </div>
    </EditForm>
</div>
